<configuration>
    <appender name="EXCEL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/liquid.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>log/excel.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="liquid.excel" level="DEBUG" additivity="false">
        <appender-ref ref="EXCEL"/>
    </logger>
</configuration>
