<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- Task Header -->
<div th:include="layout :: task-header"></div>

<!-- Transportation Operation -->
<div class="container">
    <div th:include="layout :: planning-tab"></div>

    <div class="container">
        <form action="/task" method="POST" class="form-horizontal center">
            <input type="hidden" name="taskId" th:value="${taskId}" value="{taskId}"/>
            <input type="submit" name="complete" value="Complete Task" class="btn btn-primary"
                   th:attr="value=#{task.complete}"/>
        </form>
    </div>
    <!-- /.container -->
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/js/bootstrap-3.0.0.js"></script>
</body>

</html>
