<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<!-- {!begin layout} -->
<div th:include="planning/template :: leg-tab"></div>
<!-- {!end layout} -->

<div id="f" class="container">
    <form action="/task/{taskId}/planning/{tab}" method="POST"
          th:object="${leg}" th:action="@{${#httpServletRequest.servletPath}}">

        <input type="hidden" th:field="*{sourceId}"/>
        <div class="form-group" th:classappend="${#fields.hasErrors('source')} ? 'has-error'">
            <label th:text="#{origination} + ' *'">Source</label>
            <input type="text" th:field="*{source}" class="form-control input-sm" th:placeholder="#{origination}"/>
            <span th:errors="*{source}">error</span>            
        </div>

        <input type="hidden" th:field="*{destinationId}"/>
        <div class="form-group" th:classappend="${#fields.hasErrors('destinationId')} ? 'has-error'">
            <label th:text="#{destination} + ' *'">Destination</label>
            <input type="text" th:field="*{destination}" class="form-control input-sm" th:placeholder="#{destination}"/>
            <span th:errors="*{destination}">error</span>      
        </div>

        <!--
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/> <span th:text="#{leg.is.head}">Is Head</span>
                    </label>
                </div>
            </div>
        </div>
        -->

        <input type="submit" name="addLeg" value="Add Leg" class="btn btn-success btn-block btn-sm" th:value="#{leg.add}"/>

    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->

<script>
/*<![CDATA[*/
    $(document).ready(function() {
        var stations = initLocationsAc(1);        
        $('#source').autoComplete(stations, 'sourceId');
        $('#destination').autoComplete(stations, 'destinationId');
        $(".tt-hint").addClass("form-control"); 
    }); // ready end
/*]]>*/
</script>
</body>

</html>
