<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- Task Header -->
<div th:include="layout :: task-header"></div>

<!-- Transportation Operation -->
<div class="container">
    <ul class="nav nav-tabs">
        <li><a href="#">Overview</a></li>
        <li class="active"><a href="/task/{taskId}/planning/railway"
                              th:href="'/task/' + ${taskId} + '/planning/railway'">Railway</a></li>
        <li><a href="#">Barge</a></li>
        <li><a href="#">Vessel</a></li>
    </ul>

    <br/>

    <!-- TODO: ugly -->
    <div class="container">
        <div th:if="${task.assignee}">
            <form action="/task" method="POST" class="form-inline" th:object="${planning}"
                  th:action="'/task/' + ${taskId} + '/planning'">
                <label class="checkbox">
                    <input type="checkbox" name="sameRoute" th:field="*{sameRoute}"/>
                    <span th:text="#{transportation.same.route}">Same Route</span>
                </label>

                <input type="hidden" th:field="*{transMode}" value="0"/>


                <input type="submit" name="create" value="Add Transportation" class="btn btn-primary"
                       th:value="#{transportation.add.route}" th:unless="*{status}"/>

                <input type="hidden" th:field="*{id}" value="0" th:if="*{status}"/>

                <input type="submit" name="update" value="Update Transportation"
                       class="btn btn-primary"
                       th:value="#{transportation.update.route}" th:if="*{status}"/>
                <input type="submit" name="delete" value="Delete Transportation"
                       class="btn btn-primary"
                       th:value="#{transportation.delete.route}" th:if="*{status}"/>
            </form>
        </div>
    </div>
</div>
<!-- /.container -->

<div class=" container">
    <div th:unless="${#lists.isEmpty(railways)}">
        <h3 th:text="#{transportation.railway}">Railway</h3>

        <p th:text="#{transportation.railway.planning}">Railway Planning</p>

        <table class="table table-striped table-hover table-condensed table-16">
            <thead>
            <tr>
                <th th:text="#{railway.id}">Railway ID</th>
                <th th:text="#{railway.origination}">Railway Origination</th>
                <th th:text="#{railway.destination}">Railway Destination</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="railway : ${railways}">
                <td th:text="${railway.id}">Railway ID</td>
                <td th:text="${railway.origination}">Railway Origination</td>
                <td th:text="${railway.destination}">Railway Destination</td>
                <td>
                    <a href="/railway/{id}" th:href="'/railway/' + ${railway.id} + '/delete'">
                        <i class="glyphicon glyphicon-remove-sign"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/js/bootstrap-3.0.0.js"></script>
</body>

</html>
