/* debug tool
div {
  outline:#00FF00 dotted thin;
}

input {
  outline:black dotted thin;
}

table {
  outline:black dotted thin;
}

tbody {
  outline:#00FF00 dotted thin;
}

tr {
  outline:#00FF00 dotted thin;
}
*/

body {
  padding-top: 50px;
}

footer {
  margin: 0 auto;
  text-align: center;
}

.jumbotron {
  padding: 0px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.panel {
  margin-bottom: 6px;
}

.panel-heading {
  padding: 6px 10px;
  font-size: 12px;
  font-weight: bold;
}

.panel-body {
  padding: 6px;
  font-size: 12px;
}

.panel-footer {
  padding: 6px 10px;
}

.nav-tabs {
  margin-bottom: 10px;
}

div.form-group > label {
  font-size: 12px;
}

div.checkbox > label {
  font-size: 12px;
}

ul.list-inline label {
  font-size: 12px;
  font-weight: normal;
}

.table {
  margin-bottom: 6px;
}

thead {
  font-size: 12px;
}

tr, td {
  font-size: 12px;
}

/* table which contains the forms and inputs */
table#f > tbody > tr > td {
  margin: 0; 
  padding: 0;
}

td div.form-group {
  margin-bottom: 0px;
}

td input.input-sm {
  display: block; 
  padding: 0; 
  border: 0; 
  width: 100%;
}

td select.input-sm {
  padding: 0;
  border: 0; 
  width: 100%;
}

td span.input-group-addon:last-child {
  border-left: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* f - form */
div#f.container {
  max-width: 300px;
}

/* t - table */
div#t.container {
  max-width: 800px;
}

/* m - middle */
div#m.container {
  max-width: 600px;
}

/* tc - tab content */
div#tc.container {
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 12px;
}

.dropdown-menu {
  font-size: 12px;
}

.pagination {
  margin: 0px 10px;
}

.vertical-line {
  border-left: 1px solid #eee;
}
