<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="f" class="container">

    <h3><span th:text="#{income}"></span></h3>
    
    <hr />

    <form method="POST" th:action="'/task/' + ${taskId} + '/ajustement/income'" th:object="${income}" >

        <div class="form-group">
            <label class="control-label" th:text="#{income.type}">Income Type</label>
            <select class="form-control input-sm" th:field="*{type}">
                <option th:each="incomeType : ${incomeTypes}"
                        th:value="${incomeType.key}"
                        th:text="#{${incomeType.value}}">Income Type Nam
                </option>
            </select>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('amount')} ? 'has-error'">
            <label class="control-label" th:text="#{amount}">Amount</label>
            <input class="form-control input-sm" type="text" th:field="*{amount}"/>
            <span th:errors="*{amount}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('comment')} ? 'has-error'">
            <label class="control-label" th:text="#{comment}">Comment</label>
            <input class="form-control input-sm" type="text" th:field="*{comment}"/>
            <span th:errors="*{comment}">error</span>
        </div>

        <input class="btn btn-success btn-block btn-sm" type="submit" name="save" th:value="#{order.save}"/>
    </form>
</div><!-- /.container -->

<br/>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
