<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="f" class="container">

    <h3><span th:text="#{charge}"></span></h3>
    
    <hr />
    
    <form method="POST" th:action="@{${#httpServletRequest.servletPath}}" th:object="${charge}" >
        <div class="form-group">
            <label th:text="#{charge.type}" class="control-label">Charge Type</label>
            <select class="form-control input-sm" th:field="*{serviceSubtypeId}">
                <option th:each="serviceSubtype : ${serviceSubtypes}"
                        th:value="${serviceSubtype.id}"
                        th:text="${serviceSubtype.name}">Service Subtype
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" th:text="#{sp}">SP</label>
            <select th:field="*{serviceProviderId}" class="form-control">
                <option th:each="sp : ${sps}"
                        th:value="${sp.id}"
                        th:text="${sp.name}">SP Name
                </option>
            </select>
        </div>

        <label class="control-label" th:text="#{price}">Price</label>
        <div class="row">         
            <div class="col-xs-4">
                <div class="form-group">
                    <select class="form-control input-sm" th:field="*{way}" >
                        <option th:each="chargeWay : ${chargeWays}"
                                th:value="${chargeWay.value}"
                                th:text="#{${chargeWay.i18nKey}}">Charge Way
                        </option>
                    </select>
                </div>
            </div>

        
            <div class="col-xs-4">
                <div class="form-group">
                    <input  class="form-control input-sm" type="text" th:field="*{unitPrice}"/>
                    <span th:errors="*{unitPrice}">error</span>
                </div>
            </div>
            
            <div class="col-xs-4">
                <div class="form-group">
                    <select class="form-control input-sm" th:field="*{currency}">
                        <option value="0">CNY</option>
                        <option value="1">USD</option>
                    </select>
                </div>
            </div>
        </div>
        
        <input type="hidden" name="taskId" th:value="${task.id}" value="0"/>
        <input class="btn btn-success btn-block btn-sm" type="submit" th:value="#{charge.record}"/>
    </form>
</div><!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
