<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"/>
<!-- {!end layout} -->

<div th:include="order/template :: tab"></div>

<div id="t" class="container" th:each="route : ${routes}">
    <h4>
        <span th:text="#{route} + ${route.id}">Route ID</span>
        <small th:text="#{container.quantity} + '(' + ${route.containerQty} + ')'">Container Qty</small>
    </h4>

            <table class="table table-striped table-hover table-condensed table-16">
                <thead>
                <tr>
                    <th th:text="#{container.no}">Container No.</th>
                    <th th:text="#{container.type}"></th>
                    <th th:text="#{container.subtype}">Subtype</th>
                    <th th:text="#{container.owner}">Owner</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="container : ${route.containers}">
                    <td th:text="${container.container} ? ${container.container.bicCode} : ${container.bicCode}">
                        Container No.
                    </td>
                    <td th:text="#{${containerTypeMap[order.containerType]}}"></td>
                    <td th:text="${container.container} ? ${container.container.subtype.name} : ${container.bicCode}"></td>
                    <td th:text="${container.container} ? ${container.container.owner.name} : ''"></td>
                </tr>
                </tbody>
            </table>

</div><!-- container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
