<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div th:include="order/template :: tab"></div>

<div id="tc" class="container">

<div class="row">    
    <div class="col-xs-3">
            <label th:text="#{order.no}">Service Type</label>
            <span>:</span>
            <span th:text="${order.orderNo}" />
    </div>
</div>

<div class="row">    
    <div class="col-xs-3">
            <label th:text="#{service.type}">Service Type</label>
            <span>:</span>
            <span th:text="${order.serviceType}" />
    </div>

    <div class="col-lg-6">
            <label th:text="#{customer}">Customer</label>
            <span>:</span>
            <span th:text="${order.customerName}" />
    </div>
    
    <div class="col-xs-3">
            <label th:text="#{trade.type}">Trade Type</label>
            <span>:</span>
            <span th:text="#{${order.tradeTypeName}}" />
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
            <label th:text="#{origination}">Origin</label>
            <span>:</span>
            <span th:text="${order.origination}" />
    </div>

    <div class="col-xs-6">
            <label th:text="#{destination}">Destination</label>
            <span>:</span>
            <span th:text="${order.destination}" />
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
            <label th:text="#{consignee}">Consignee</label>
            <span>:</span>
            <span th:text="${order.consignee}" />
    </div>

    <div class="col-xs-3">
            <label th:text="#{consignee.phone}">Consignee</label>
            <span>:</span>
            <span th:text="${order.consigneePhone}" />
    </div>
    
    <div class="col-xs-6">
            <label th:text="#{consignee.address}">Consignee Address</label>
            <span>:</span>
            <span th:text="${order.consigneeAddress}" />
    </div>    
</div>

<div class="row">
    <div class="col-xs-3">
            <label th:text="#{goods}">Cargo</label>
            <span>:</span>
            <span th:text="${order.goodsName}" />
    </div>

    <div class="col-xs-3">
            <label th:text="#{goods.weight.with.unit}">Cargo Weight</label>
            <span>:</span>
            <span th:text="${order.goodsWeight}" />
    </div>

    <div class="col-xs-3">
            <label th:text="#{loading.type}">Loading Type</label>
            <span>:</span>
            <span th:text="#{${order.loadingTypeName}}" />
    </div>    
</div>

<div class="row">
    <div id="loadingAddressSec" class="col-xs-3">
            <label th:text="#{loading.address}">Loading Address</label>
            <span>:</span>
            <span th:text="${order.loadingAddress}" />
    </div>

    <div id="loadingEtSec" class="col-xs-3">
            <label th:text="#{loading.et}">Loading ET</label>
            <span>:</span>
            <span th:text="${order.loadingEstimatedTime}" />
    </div>

    <div id="loadingContactSec" class="col-xs-3">
            <label th:text="#{loading.contact}">Loading Contact</label>
            <span>:</span>
            <span th:text="${order.loadingContact}" />
    </div>

    <div id="loadingPhoneSec" class="col-xs-3">
            <label th:text="#{loading.phone}">Loading Phone</label>
            <span>:</span>
            <span th:text="${order.loadingPhone}" />
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
            <label th:text="#{container.type}">Container Type</label>
            <span>:</span>
            <span th:text="#{${order.containerTypeName}}" />
    </div>    
    
    <div id="ownContainerSubtypeSec" class="col-xs-3">
            <label th:text="#{container.subtype}">Container Subtype</label>
            <span>:</span>
            <span th:text="${order.containerSubtype}" />
    </div>
    
    <div class="col-xs-3">
            <label th:text="#{container.quantity}">Container Quantity</label>
            <span>:</span>
            <span th:text="${order.containerQuantity}" />
    </div> 
</div>
</div><!-- container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

</body>

</html>
