<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        div#f.container {
            max-width: 300px;
        }
    </style>    
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="layout :: task-bar"/>
<!-- {!end task bar} -->

<div class="container">
    <div th:if="${alert}" class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span th:text="${alert}">Alert</span>
    </div>
</div>

<div id="f" class="container" th:if="${task.assignee}">
    <form method="POST" th:object="${disty}" th:action="'/dp?t=' + ${task.id}" class="form">
        <h3 class="form-heading" th:text="#{disty.price}">Disty Price</h3>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('distyCny')} ? 'has-error'">
            <label>CNY</label>
            <input type="text" th:field="*{distyCny}" class="form-control"/>
            <span th:errors="*{distyCny}">error</span>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('distyUsd')} ? 'has-error'">
            <label>USD</label>
            <input type="text" th:field="*{distyUsd}" class="form-control"/>
            <span th:errors="*{distyUsd}">error</span>
        </div>        

        <input type="submit" name="save" value="Save Order" class="btn btn-success btn-block" th:attr="value=#{order.save}"/>
        <span th:if="${done}" class="glyphicon glyphicon-ok"/>
    </form>
</div>
<!-- /.container -->

<br/>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
