<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="layout :: task-bar"/>
<!-- {!end task bar} -->

<br/>

<div class="container" th:if="${task.assignee}">
    <form action="/task/{taskId}/extra" method="POST" class="form-horizontal center"
          th:object="${extra}" th:action="'/task/' + ${taskId} + '/extra'">

        <div class="form-group">
            <label class="col-lg-4 control-label" th:text="#{extra.expense.with.unit}">Extra Expense</label>

            <div class="col-lg-8">
                <input type="text" th:field="*{extExp}" class="form-control"/>
                <span th:errors="*{extExp}">error</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label" th:text="#{extra.expense.comment}">Ext Exp Comments</label>

            <div class="col-lg-8">
                <input type="text" th:field="*{extExpComment}" class="form-control"/>
                <span th:errors="*{extExpComment}">error</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-8">
                <input type="submit" name="save" value="Save Order" class="btn btn-default"
                       th:attr="value=#{order.save}"/>
                <span th:if="${done}" class="glyphicon glyphicon-ok"/>
            </div>
        </div>

    </form>
</div>
<!-- /.container -->


<br/>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
