<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="order" class="container">

<form id="orderForm" action="/order/edit" method="POST" th:object="${order}" class="center">

<div class="panel panel-default">
<div class="panel-heading" th:text="#{order.basic.info}">Order Basic Info</div>
<div class="panel-body">

<div class="row">
    <div class="row" th:if="${order.id}">
        <div class="col-lg-3">
            <div class="form-group">
                <input type="hidden" th:field="*{id}" />
            </div>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="form-group">
            <label th:text="#{service.type}">Service Type</label>
            <select th:field="*{serviceTypeId}" class="form-control input-sm">
                <option th:each="serviceType : ${serviceTypes}"
                        th:value="${serviceType.id}"
                        th:text="'(' + ${serviceType.code} + ')' + ${serviceType.name}">Service Type Name
                </option>
            </select>
        </div>
    </div>

    <input type="hidden" th:field="*{customerId}"/>

    <div class="col-lg-6">
        <div class="form-group" th:classappend="${#fields.hasErrors('customerName')} ? 'has-error'">
            <label th:text="#{customer} + ' *'">Customer</label><br/>
            <input type="text" th:field="*{customerName}" class="form-control input-sm" placeholder="customer name"
                   th:placeholder="#{customer.name}"/>
            <span th:errors="*{customerName}">error</span>
        </div>
    </div>
    
    <div class="col-xs-3">
        <div class="form-group">
            <label th:text="#{trade.type}">Trade Type</label><br/>
            <label class="radio-inline" th:each="trade : ${tradeTypes}">
                <input type="radio" th:field="*{tradeType}" th:value="${trade.type}"/>
                <span th:for="${#ids.prev('tradeType')}" th:text="#{${trade.i18nKey}}">Trade Type</span>
            </label>
        </div>
    </div>
</div>

<div class="row">
    <input type="hidden" th:field="*{originId}"/>
    <div class="col-lg-6">
        <div class="form-group" th:classappend="${#fields.hasErrors('origination')} ? 'has-error'">
            <label th:text="#{origination} + ' *'">Origin</label>
            <input type="text" th:field="*{origination}" class="form-control input-sm" th:placeholder="#{origination}"/>
            <span th:errors="*{origination}">error</span>            
        </div>
    </div>

    <input type="hidden" th:field="*{destinationId}"/>
    <div class="col-lg-6">
        <div class="form-group" th:classappend="${#fields.hasErrors('destination')} ? 'has-error'">
            <label th:text="#{destination} + ' *'">Destination</label>
            <input type="text" th:field="*{destination}" class="form-control input-sm" th:placeholder="#{destination}"/>
            <span th:errors="*{destination}">error</span>      
        </div>
    </div>

    <!--
    <div class="col-lg-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:field="*{hasDelivery}"/>
                    <strong th:text="#{has.delivery}">hasDelivery</strong>
                </label>
            </div>
        </div>
    </div>
    -->
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('consignee')} ? 'has-error'">
            <label th:text="#{consignee}">Consignee</label>
            <input type="text" th:field="*{consignee}" class="form-control input-sm"/>

            <span th:errors="*{consignee}">error</span>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('consigneePhone')} ? 'has-error'">
            <label th:text="#{consignee.phone}">Consignee</label>
            <input type="text" th:field="*{consigneePhone}" class="form-control input-sm"/>

            <span th:errors="*{consigneePhone}">error</span>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="form-group" th:classappend="${#fields.hasErrors('consigneeAddress')} ? 'has-error'">
            <label th:text="#{consignee.address}">Consignee Address</label>
            <input type="text" th:field="*{consigneeAddress}" class="form-control input-sm"/>

            <span th:errors="*{consigneeAddress}">error</span>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label th:text="#{goods}">Cargo</label>
            <select th:field="*{goodsId}" class="form-control input-sm">
                <option th:each="goods : ${cargos}"
                        th:value="${goods.id}"
                        th:text="${goods.name}">Cargo Name
                </option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('goodsWeight')} ? 'has-error'">
            <label th:text="#{goods.weight.with.unit} + ' *'">Cargo Weight</label>
            <input type="text" th:field="*{goodsWeight}" class="form-control input-sm"/>

            <span th:errors="*{goodsWeight}">error</span>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('goodsDimension')} ? 'has-error'">
            <label th:text="#{goods.dimension}">Cargo Dimension</label>
            <input type="text" th:field="*{goodsDimension}" class="form-control input-sm"/>

            <span th:errors="*{goodsDimension}">error</span>
        </div>
    </div>

    <div class="col-xs-3">       
        <div class="form-group">
            <label th:text="#{loading.type}">Loading Type</label><br />
            <label class="radio-inline" th:each="loading : ${loadingTypes}">
                <input type="radio" th:field="*{loadingType}" th:value="${loading.type}"/>
                <span th:for="${#ids.prev('loadingType')}" th:text="#{${loading.i18nKey}}">Loading Type</span>
            </label>
        </div>
    </div>    
</div>

<div class="row">
    <div id="loadingAddressSec" class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingAddress')} ? 'has-error'">
            <label th:text="#{loading.address}">Loading Address</label>
            <input type="text" th:field="*{loadingAddress}" class="form-control input-sm"/>

            <span th:errors="*{loadingAddress}">error</span>
        </div>
    </div>

    <div id="loadingEtSec" class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingEstimatedTime')} ? 'has-error'">
            <label th:text="#{loading.et}">Loading ET</label>
            <input type="text" th:field="*{loadingEstimatedTime}" class="form-control input-sm"/>

            <span th:errors="*{loadingEstimatedTime}">error</span>
        </div>
    </div>

    <div id="loadingContactSec" class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingContact')} ? 'has-error'">
            <label th:text="#{loading.contact}">Loading Contact</label>
            <input type="text" th:field="*{loadingContact}" class="form-control input-sm"/>

            <span th:errors="*{loadingContact}">error</span>
        </div>
    </div>

    <div id="loadingPhoneSec" class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingPhone')} ? 'has-error'">
            <label th:text="#{loading.phone}">Loading Phone</label>
            <input type="text" th:field="*{loadingPhone}" class="form-control input-sm"/>

            <span th:errors="*{loadingPhone}">error</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="form-group">
            <label th:text="#{container.type}">Container Type</label><br />
            <label class="radio-inline" th:each="containerType : ${containerTypeMap}">
                <input type="radio" th:field="*{containerType}" th:value="${containerType.key}"/>
                <span th:for="${#ids.prev('containerType')}" th:text="#{${containerType.value}}">Container Type</span>
            </label>
        </div>
    </div>    
    
    <div id="ownContainerSubtypeSec" class="col-lg-3">
        <div class="form-group">
            <label th:text="#{container.subtype}">Container Subtype</label>
            <select th:field="*{selfContainerSubtypeId}" class="form-control input-sm">
                <option th:each="containerSubtype : ${selfContainerSubtypes}"
                        th:value="${containerSubtype.id}"
                        th:text="${containerSubtype.name}">Container Subtype Name
                </option>
            </select>
        </div>
    </div>
    
   <div id="railContainerSubtypeSec" class="col-lg-3">
        <div class="form-group">
            <label th:text="#{container.subtype}">Container Subtype</label>
            <select th:field="*{railContainerSubtypeId}" class="form-control input-sm">
                <option th:each="containerSubtype : ${railContainerSubtypes}"
                        th:value="${containerSubtype.id}"
                        th:text="${containerSubtype.name}">Container Subtype Name
                </option>
            </select>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('containerQuantity')} ? 'has-error'">
            <label th:text="#{container.quantity} + ' *'">Container Quantity</label>
            <input type="text" th:field="*{containerQuantity}" class="form-control input-sm"/>

            <span th:errors="*{containerQuantity}">error</span>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="form-group">
            <label th:text="#{container.attribute}">Container Attr</label>
            <input type="text" th:field="*{containerAttribute}" class="form-control input-sm"/>
            <span th:errors="*{containerAttribute}">error</span>
        </div>
    </div>       
</div>

</div><!-- panel-body -->
</div><!-- panel -->

<div class="panel panel-default">
<div class="panel-heading" th:text="#{railway.info}">Railway Info</div>
<div class="panel-body">

<div class="row">
    <input type="hidden" th:field="*{railwayId}"/>
    <div class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('planReportTime')} ? 'has-error'">
            <label th:text="#{railway.plan.report.time} + ' *'">Railway Plan Report Date</label>
            
            <div class='input-group input-group-sm date' id='planReportTimePicker'>                    
                <input type='text' data-date-format="YYYY-MM-DD HH:mm" class="form-control input-sm" th:field="*{planReportTime}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>        
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="form-group" th:classappend="${#fields.hasErrors('programNo')} ? 'has-error'">
            <label th:text="#{railway.program.no}">>Railay Program No.</label>
            <input type="text" th:field="*{programNo}" class="form-control input-sm"/>

            <span th:errors="*{programNo}">error</span>
        </div>
    </div>    

    <div class="col-lg-3">
        <div class="form-group">
            <label th:text="#{railway.plan.type}"></label>
            <select th:field="*{railwayPlanTypeId}" class="form-control input-sm">
                <option th:each="railwayPlanType : ${railwayPlanTypes}"
                        th:value="${railwayPlanType.id}"
                        th:text="${railwayPlanType.name}">Railway Plan Type Name
                </option>
            </select>
        </div>
    </div> 
</div><!-- row -->

<div class="row">
    <input type="hidden" th:field="*{railSourceId}"/>
    <div class="col-lg-6">
        <div class="form-group" th:classappend="${#fields.hasErrors('railSource')} ? 'has-error'">
            <label th:text="#{railway.source.station} + ' *'">Origin</label>
            <input type="text" th:field="*{railSource}" class="form-control input-sm" th:placeholder="#{origination}"/>
            <span th:errors="*{railSource}">error</span>            
        </div>
    </div>

    <input type="hidden" th:field="*{railDestinationId}"/>
    <div class="col-lg-6">
        <div class="form-group" th:classappend="${#fields.hasErrors('railDestination')} ? 'has-error'">
            <label th:text="#{railway.destination.station} + ' *'">Destination</label>
            <div>
            <input type="text" th:field="*{railDestination}" class="form-control input-sm" th:placeholder="#{destination}"/>
            </div>
            <span th:errors="*{railDestination}">error</span>      
        </div>
    </div>
</div><!-- row -->

<div class="row">
    <div class="col-lg-6">
        <div class="form-group" th:classappend="${#fields.hasErrors('comment')} ? 'has-error'">
            <label th:text="#{comment}">Comment</label>
            <input type="text" th:field="*{comment}" class="form-control input-sm"/>

            <span th:errors="*{comment}">error</span>
        </div>
    </div>    
    
    <div class="col-lg-3">
        <div class="form-group">
            <label>&nbsp;</label><br />
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:field="*{sameDay}"/>
                    <strong class="text-danger" th:text="#{railway.same.day}">Same Day</strong>
                </label>                
            </div>
        </div>
    </div>    
</div><!-- row -->
</div><!-- panel-body -->
</div><!-- panel -->


<div class="panel panel-default">
<div class="panel-heading" th:text="#{order.price.info}">Price Info</div>
<div class="panel-body">
<table id="price" class="table table-striped table-hover table-condensed table-16">
    <thead>
    <tr>
        <th th:text="#{service.item}">Service Item</th>
        <th th:text="#{currency}">Unit Price</th>
        <th th:text="#{price}">Unit Price</th>
        <th th:text="#{comment}">Comment</th>
        <th>
            <button type="submit" class="btn btn-default btn-xs pull-right" name="addServiceItem">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="serviceItem, rowStat : *{serviceItems}">
        <td>
            <input type="hidden" th:field="*{serviceItems[__${rowStat.index}__].id}" />
            <select class="form-control input-sm" th:field="*{serviceItems[__${rowStat.index}__].serviceSubtypeId}">
                <option th:each="serviceSubtype : ${serviceSubtypes}" th:value="${serviceSubtype.id}" th:text="${serviceSubtype.name}">Service Subtype</option>
            </select>
        </td>
        <td>
	        <select th:field="*{serviceItems[__${rowStat.index}__].currency}" class="form-control input-sm">
	            <option value="0">CNY</option>
	            <option value="1">USD</option>
	        </select>        
        </td>
        <td>
            <input type="text" class="form-control input-sm" th:field="*{serviceItems[__${rowStat.index}__].quotation}" />
        </td>
        <td>
            <input type="text" class="form-control input-sm" th:field="*{serviceItems[__${rowStat.index}__].comment}" />
        </td>        
        <td>
            <button type="submit" name="removeServiceItem" class="btn btn-default btn-xs pull-right" th:value="${rowStat.index}" >
                <i class="glyphicon glyphicon-minus"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
</div><!-- panel-body -->

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <input type="hidden" th:field="*{receivableSummaryId}" />
            <div class="col-lg-3">
                <div class="form-group">
                    <label th:text="#{usd.total} + ' *'">USD Total</label>
                    <input type="text" th:field="*{usdTotal}" class="form-control input-sm" readonly="readonly"/>
                    <span th:errors="*{usdTotal}">error</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label th:text="#{cny.total} + ' *'">CNY Total</label>
                    <input type="text" th:field="*{cnyTotal}" class="form-control input-sm" readonly="readonly"/>
                    <span th:errors="*{cnyTotal}">error</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" name="save" value="Save Order" class=" form-control btn btn-success btn-sm input-sm" th:attr="value=#{order.save}"/>
                 
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" name="submit" value="Submit Order" class=" form-control btn btn-primary btn-sm input-sm" th:attr="value=#{order.submit}"/>
                </div>
            </div>
        </div>        
    </li>
</ul>
        
</div><!-- panel -->

</form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js"></div>
<!-- {!end layout} -->

<script>
/*<![CDATA[*/
    $(document).ready(function() {
        var customers = initCustomerAc();
        $('#customerName').acWithTemplate(customers, 'name', 'customerId', '<p><strong>{{name}}</strong> – {{code}}</p>');

        var cities = initLocationsAc(0);
        $('#origination').autoComplete(cities, 'originId');
        $('#destination').autoComplete(cities, 'destinationId');

        var stations = initLocationsAc(1);
        $('#railSource').autoComplete(stations, 'railSourceId');
        $('#railDestination').autoComplete(stations, 'railDestinationId');                           

        if($('input[name=loadingType]:checked', '#orderForm').val() == 0) {
            $("#loadingAddressSec").hide();
            $("#loadingEtSec").hide();
            $("#loadingContactSec").hide();
            $("#loadingPhoneSec").hide();
        }
        
        $("input[name$='loadingType']").click(function() {
            var value = $(this).val();
            if(value == 0) {
                $("#loadingAddressSec").hide();
                $("#loadingEtSec").hide();
                $("#loadingContactSec").hide();
                $("#loadingPhoneSec").hide();
            }
            else {
                $("#loadingAddressSec").show();
                $("#loadingEtSec").show();
                $("#loadingContactSec").show();
                $("#loadingPhoneSec").show();
            }
        });
        
        if($('input[name=containerType]:checked', '#orderForm').val() == 0) {
            $("#ownContainerSubtypeSec").hide();
            $("#railContainerSubtypeSec").show();
        }
        else {
            $("#ownContainerSubtypeSec").show();
            $("#railContainerSubtypeSec").hide();           
        }
        
        $("input[name$='containerType']").click(function() {
            var value = $(this).val();
            if(value == 0) {
                $("#ownContainerSubtypeSec").hide();
                $("#railContainerSubtypeSec").show();
            }
            else {
                $("#ownContainerSubtypeSec").show();
                $("#railContainerSubtypeSec").hide();
            }
        });
             
        caculateTotal();     
        $("input[name$='.quotation']").change(caculateTotal);
        $("select[name$='.currency']").change(caculateTotal);
        $("button[name='removeServiceItem']").click(caculateTotal);
                
        function caculateTotal() {
            var usd = 0, cny = 0;
            $("table[id='price'] > tbody > tr").each(function() {
                var subtype = $('td:eq(0) select option:selected', this).val();
                var currency = $('td:eq(1) select option:selected', this).val();
                var price = $('td:eq(2) input', this).val();
                if(currency == 0) cny += parseInt(price, 10);
                else usd += parseInt(price, 10);
            });
            
            $('#usdTotal').val(usd);
            $('#cnyTotal').val(cny);
        }
        
        $(".tt-hint").addClass("form-control"); 
        
        $('#planReportTimePicker').datetimepicker({
            language: 'zh-cn'
        });        
    }); // ready end
/*]]>*/
</script>
</body>

</html>
