<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/typeahead.js-0.9.3/typeahead.js-bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
        div#order.container {
        max-width: 800px;
        }
    </style>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="order" class="container">

<form id="orderForm" action="/order" method="POST" th:object="${order}" class="center">
<div class="panel panel-default">
<div class="panel-body">
<div class="row" th:if="${order.id}">
    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{order.id}">Order ID</label>
            <input type="text" th:field="*{id}" class="form-control" readonly="readonly"/>
        </div>
    </div>
</div>

<div class="row">
    <input type="hidden" th:field="*{customerId}" />
    <div class="col-lg-8">    
        <div class="form-group" th:classappend="${#fields.hasErrors('customerName0')} ? 'has-error'">
            <label th:text="#{customer}">Customer</label><br/>
            <input type="text" th:field="*{customerName0}" class="typeahead form-control" placeholder="customer name" />
            <span th:errors="*{customerName0}">error</span>
        </div> 
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{origination} + ' *'">Origin</label>
            <select th:field="*{origination}" class="form-control">
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.name}">Location Name
                </option>
            </select>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{destination} + ' *'">Destination</label>
            <select th:field="*{destination}" class="form-control">
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.name}">Location Name
                </option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('consignee')} ? 'has-error'">
            <label th:text="#{consignee} + ' *'">Consignee</label>
            <input type="text" th:field="*{consignee}" class="form-control"/>

            <span th:errors="*{consignee}">error</span>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('consigneePhone')} ? 'has-error'">
            <label th:text="#{consignee.phone} + ' *'">Consignee</label>
            <input type="text" th:field="*{consigneePhone}" class="form-control"/>

            <span th:errors="*{consigneePhone}">error</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="form-group" th:classappend="${#fields.hasErrors('consigneeAddress')} ? 'has-error'">
            <label th:text="#{consignee.address} + ' *'">Consignee Address</label>
            <input type="text" th:field="*{consigneeAddress}" class="form-control"/>

            <span th:errors="*{consigneeAddress}">error</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{goods}">Cargo</label>
            <select th:field="*{goodsId}" class="form-control">
                <option th:each="goods : ${cargos}"
                        th:value="${goods.id}"
                        th:text="${goods.name}">Cargo Name
                </option>
            </select>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('goodsWeight')} ? 'has-error'">
            <label th:text="#{goods.weight.with.unit}">Cargo Weight</label>
            <input type="text" th:field="*{goodsWeight}" class="form-control"/>

            <span th:errors="*{goodsWeight}">error</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{trade.type}">Trade Type</label>
            <ul class="list-inline">
                <li th:each="trade : ${tradeTypes}">
                    <input type="radio" th:field="*{tradeType}" th:value="${trade.type}"/>
                    <label th:for="${#ids.prev('tradeType')}"
                           th:text="#{${trade.i18nKey}}">Trade Type</label>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{loading.type}">Loading Type</label>
            <ul class="list-inline">
                <li th:each="loading : ${loadingTypes}">
                    <input type="radio" th:field="*{loadingType}" th:value="${loading.type}"/>
                    <label th:for="${#ids.prev('loadingType')}"
                           th:text="#{${loading.i18nKey}}">Loading Type</label>
                </li>
            </ul>
        </div>
    </div>

    <div id="loadingAddressSec" class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingAddress')} ? 'has-error'">
            <label th:text="#{loading.address}">Loading Address</label>
            <input type="text" th:field="*{loadingAddress}" class="form-control"/>

            <span th:errors="*{loadingAddress}">error</span>
        </div>
    </div>

    <div id="loadingEtSec" class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingEtStr')} ? 'has-error'">
            <label th:text="#{loading.et}">Loading ET</label>
            <input type="text" th:field="*{loadingEtStr}" class="form-control"/>

            <span th:errors="*{loadingEtStr}">error</span>
        </div>
    </div>
</div>

<div class="row">
    <div id="loadingContactSec" class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingContact')} ? 'has-error'">
            <label th:text="#{loading.contact}">Loading Contact</label>
            <input type="text" th:field="*{loadingContact}" class="form-control"/>

            <span th:errors="*{loadingContact}">error</span>
        </div>
    </div>

    <div id="loadingPhoneSec" class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('loadingPhone')} ? 'has-error'">
            <label th:text="#{loading.phone}">Loading Phone</label>
            <input type="text" th:field="*{loadingPhone}" class="form-control"/>

            <span th:errors="*{loadingPhone}">error</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{container.type}">Container Type</label>
            <ul class="list-inline">
                <li th:each="containerType : ${containerTypes}">
                    <input type="radio" th:field="*{containerType}" th:value="${containerType.type}"/>
                    <label th:for="${#ids.prev('containerType')}"
                           th:text="#{${containerType.i18nKey}}">Container Type</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label th:text="#{container.capacity}">Container Capacity</label>
            <ul class="list-inline">
                <li th:each="capacity : ${containerCaps}">
                    <input type="radio" th:field="*{containerCap}" th:value="${capacity.type}"/>
                    <label th:for="${#ids.prev('containerCap')}"
                           th:text="${capacity.name}">Container Capacity</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('containerQty')} ? 'has-error'">
            <label th:text="#{container.quantity} + ' *'">Container Quantity</label>
            <input type="text" th:field="*{containerQty}" class="form-control"/>

            <span th:errors="*{containerQty}">error</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:field="*{hasDelivery}"/>
                    <strong th:text="#{has.delivery}">hasDelivery</strong>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="form-group" th:classappend="${#fields.hasErrors('salesPriceCny')} ? 'has-error'">
            <label th:text="#{price.cny}">Price</label>
            <input type="text" th:field="*{salesPriceCny}" class="form-control"/>

            <span th:errors="*{salesPriceCny}">error</span>
        </div>
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <input type="submit" name="save" value="Save Order" class="btn btn-default"
               th:attr="value=#{order.save}"/>
        <input type="submit" name="submit" value="Submit Order" class="btn btn-default"
               th:attr="value=#{order.submit}"/>
    </div>
</div>

</form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->

<script>
    $(document).ready(function() {
        if($('input[name=loadingType]:checked', '#orderForm').val() == 0) {
            $("#loadingAddressSec").hide();
            $("#loadingEtSec").hide();
            $("#loadingContactSec").hide();
            $("#loadingPhoneSec").hide();
        }
        
        $("input[name$='loadingType']").click(function() {
            var value = $(this).val();
            if(value == 0) {
                $("#loadingAddressSec").hide();
                $("#loadingEtSec").hide();
                $("#loadingContactSec").hide();
                $("#loadingPhoneSec").hide();
            }
            else {
                $("#loadingAddressSec").show();
                $("#loadingEtSec").show();
                $("#loadingContactSec").show();
                $("#loadingPhoneSec").show();
            }
        });
        
        $('#customerName0').typeahead({
            name: 'customer',
            valueKey: 'name',
            limit: 10,
            remote: '/api/customer?name=%QUERY',
            template: '<p><strong>{{name}}</strong> – {{code}}</p>',
            engine: Hogan
          })
          .on('typeahead:selected', function (obj, datum) {
            console.log("obj");
            console.log(obj);
            console.log('datum');
            console.log(datum);
            console.log(datum.name);
            console.log(datum.id);
            $('#customerId').val(datum.id);
            console.log("customer id " + $('#cId').val());    
        });        
    });
</script>
</body>

</html>
