<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1">
            <h3><span th:text="#{order}"></span></h3>
        </div>
    
        <div class="col-xs-3 pull-right">
            <div th:include="layout :: search-bar" />
        </div>
    </div><!-- row -->
</div><!-- /.container -->

<hr />

<div class="container-fluid">
    <table class="table table-striped table-hover table-condensed table-16">
        <thead>
        <tr>
            <th th:text="#{order.no}">Order No</th>                    
            <th th:text="#{customer.name}">Customer Name</th>
            <th th:text="#{service.type}">Service Type</th>
            <th th:text="#{origination}">Origin</th>
            <th th:text="#{destination}">Destination</th>
            <th th:text="#{goods.name}">Cargo Name</th>
            <th th:text="#{goods.weight.with.unit}">Cargo Weight</th>
            <th th:text="#{trade.type}">Trade Type</th>
            <th th:text="#{loading.type}">Loading Type</th>
            <th th:text="#{container.type}">Container Type</th>
            <th th:text="#{container.subtype}">Container Subtype</th>
            <th th:text="#{container.quantity}">Container Quantity</th>
            <th th:text="#{price.cny}">CNY Price</th>
            <th th:text="#{price.usd}">USD Price</th>
            <th th:text="#{create.time}">Create Time</th>
            <th>
                <a sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')" href="/order/edit">
                    <i class="glyphicon glyphicon-plus text-success"/>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${page.content}">
            <td>
                <i th:if="${order.status} == 1" class="glyphicon glyphicon-floppy-disk" />
                <i th:if="${order.status} == 2" class="glyphicon glyphicon-forward" />
                <i th:if="${order.status} == 8" class="glyphicon glyphicon-flag" />
                &nbsp;
                <a href="/order/id?action=edit" th:href="'/order/' + ${order.id}" th:text="${order.orderNo}"/>
            </td>                    
            <td th:text="${order.customer} ? ${order.customer.name} : ''">Customer Name</td>
            <td th:text="${order.serviceType.name}">Service Type</td>
            <td th:text="${order.srcLoc.name}">Origin</td>
            <td th:text="${order.dstLoc.name}">Destination</td>
            <td th:text="${order.goods.name}">Cargo Name</td>
            <td th:text="${order.goodsWeight}">Cargo Weight</td>
            <td th:text="#{${tradeTypes[__${order.tradeType}__].i18nKey}}">Trade Type</td>
            <td th:text="#{${loadingTypes[__${order.loadingType}__].i18nKey}}">Loading Type</td>
            <td th:text="#{${containerTypeMap[order.containerType]}}">Container Type</td>
            <td th:text="${order.containerSubtype.name}">Container Subtype</td>
            <td th:text="${order.containerQty}">Container Quantity</td>
            <td th:text="${order.receivableSummary.cny}">CNY Price</td>
            <td th:text="${order.receivableSummary.usd}">USD Price</td>
            <td th:text="${order.updateTime}">Create Time</td>
            <td>
                <a sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')"
                   th:if="${order.status} != 1"
                   th:href="'/order/' + ${order.id} + '/duplicate'">
                    <i class="glyphicon glyphicon-file text-success"/>
                </a>
            </td>                    
            <td>
                <a sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')"
                   th:if="${order.status} == 1"
                   th:href="'/order/' + ${order.id} + '/edit'">
                    <i class="glyphicon glyphicon-edit text-info"/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    
    <div th:include="layout :: pagination_bar"></div>
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
