<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"/>
<!-- {!end layout} -->

<div th:include="order/template :: tab"></div>

<div id="tc" class="container">
            <table class="table table-striped table-hover table-condensed table-16"
                   sth:unless="${#lists.isEmpty(completedTasks)}">
                <thead>
                <tr>
                    <th th:text="#{task.id}">Task ID</th>
                    <th th:text="#{task.name}">Task Name</th>
                    <th th:text="#{task.description}">Task Description</th>
                    <th th:text="#{task.owner}">Task Owner</th>
                    <th th:text="#{task.start.time}">Start Time</th>
                    <th th:text="#{task.claim.time}">Claim Time</th>
                    <th th:text="#{task.end.time}">End Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${completedTasks}">
                    <td th:text="${task.id}">Task ID</td>
                    <td th:text="${task.name}"/>
                    <td th:text="${task.description}">Task Description</td>
                    <td th:text="${task.assignee}">Task Owner</td>
                    <td th:text="${#dates.format(task.startTime, 'yyyy-MM-dd HH:mm')}">Start Time</td>
                    <td th:text="${task.claimTime} ? ${#dates.format(task.claimTime, 'yyyy-MM-dd HH:mm')} : ''">Claim
                        Time
                    </td>
                    <td th:text="${task.endTime} ? ${#dates.format(task.endTime, 'yyyy-MM-dd HH:mm')} : ''">End Time
                    </td>
                </tr>
                </tbody>
            </table>
</div><!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
