<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="f" class="container">
    <form method="POST" th:object="${container}" th:action="'/task/' + ${task.id} + '/rail_plan/' + ${container.railContainerId}">

        <input type="hidden" th:field="*{railContainerId}"/>

        <div class="form-group">
            <label th:text="#{container.no}">BIC Code</label>
            <input type="text" th:field="*{bicCode}" class="form-control input-sm" readonly="readonly"/>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_OPERATING')"
             th:classappend="${#fields.hasErrors('planNo')} ? 'has-error'">
            <label th:text="#{rail.plan.no}">Rail Plan No.</label>
            <input type="text" th:field="*{planNo}" class="form-control input-sm"/>
            <span th:errors="*{planNo}">error</span>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_OPERATING')">
            <label th:text="#{date.pattern}"/>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_OPERATING')"
             th:classappend="${#fields.hasErrors('ets')} ? 'has-error'">
            <label th:text="#{rail.ets}">Rail ETS</label>

            <div class='input-group input-group-sm date' id='timePicker'>
                <input type='text' data-date-format="YYYY-MM-DD HH:mm" class="form-control input-sm" th:field="*{ets}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            <span th:errors="*{ets}">error</span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:field="*{batch}"/><span th:text="#{batch}">Batch</span>
                </label>
            </div>
        </div>

        <input type="submit" name="save" class="btn btn-success btn-block btn-sm" th:value="#{save}"/>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include=" layout :: footer"/>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

<script>
/*<![CDATA[*/
    $(document).ready(function() {
        $('#timePicker').dtPicker();
    }); // ready end
/*]]>*/
</script>
</body>

</html>
