<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="upload" class="container">
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fileUpload">File</label>
            <input type="file" id="fileUpload" name="file" />    
        </div>        
        <input class="btn btn-success btn-block" type="submit" value="Upload"/>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
