<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="layout :: task-bar"/>
<!-- {!end task bar} -->

<div class="container" th:if="${task.assignee}">
    <div th:unless="${#lists.isEmpty(containers)}">
        <div class="panel panel-default">
            <div class="panel-heading"></div>

            <div class="panel-body">
                <table class="table table-striped table-hover table-condensed table-16">
                    <thead>
                    <tr>
                        <th th:text="#{rail.origination}">Railway Origination</th>
                        <th th:text="#{rail.destination}">Railway Destination</th>
                        <th th:text="#{container.no}">Container No.</th>
                        <th th:text="#{plate.no}">Plate No.</th>
                        <th th:text="#{trucker}">Trucker</th>
                        <th th:text="#{loading.toc}">Loading TOC</th>
                        <th th:text="#{rail.plan.no}">Trans Plan No.</th>
                        <th th:text="#{rail.ets}">Rail ETS</th>
                        <th th:text="#{station.toa}">Station TOA</th>
                        <th th:text="#{rail.ats}">Rail ATS</th>
                        <th th:text="#{rail.ata}">Rail ATA</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="container : ${containers}">
                        <td th:text="${container.leg.srcLoc.name}">Railway Origination</td>
                        <td th:text="${container.leg.dstLoc.name}">Railway Destination</td>
                        <td th:text="${container.sc.container.bicCode}">Container No.</td>
                        <td th:text="${container.plateNo}">Container No.</td>
                        <td th:text="${container.trucker}">Trucker</td>
                        <td th:text="${container.loadingTocStr}">Loading TOC</td>
                        <td th:text="${container.transPlanNo}">Trans Plan No.</td>
                        <td th:text="${container.etsStr}">Rail TOA</td>
                        <td th:text="${container.stationToaStr}">Station TOA</td>
                        <td th:text="${container.atsStr}">Rail ATS</td>
                        <td th:text="${container.ataStr}">Rail ATA</td>
                        <td>
                            <a href="/task/{taskId}/loading/edit" class="btn btn-default btn-xs"
                               sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_OPERATING', 'ROLE_FIELD')"
                               th:href="'/task/' + ${task.id} + '/'+ ${rail_task} +'/' + ${container.id}">
                                <i class="glyphicon glyphicon-edit"/>
                            </a>
                            <a href="/task/{taskId}/leg/{legId}/charge" class="btn btn-default btn-xs"
                               sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')"
                               th:href="'/task/' + ${taskId} + '/leg/' + ${container.leg.id} + '/charge'">
                                <i class="glyphicon glyphicon-shopping-cart"/>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<div class="container" th:unless="${#lists.isEmpty(charges)}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{charge}"></span>
            <span class="pull-right" th:text="#{total} + ':' + ${total}"></span>
        </div>

        <div class="panel-body">
            <table class="table table-striped table-hover table-condensed table-16"
                   th:unless="${#lists.isEmpty(charges)}">
                <thead>
                <tr>
                    <th th:text="#{route}">Route ID</th>
                    <th th:text="#{leg}">Leg ID</th>
                    <th th:text="#{trans.mode}">Trans Mode</th>
                    <th th:text="#{charge.type}">Type</th>
                    <th th:text="#{sp.name}">SP Name</th>
                    <th th:text="#{charge.way}">Way</th>
                    <th th:text="#{charge.unit.price}">Unit Price</th>
                    <th th:text="#{charge.total.price}">Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="charge : ${charges}">
                    <!-- NOTE: Very important expression -->
                    <td th:text="${charge.leg.route.id}">Route ID</td>
                    <td th:text="${charge.leg.srcLoc.name} + '-' + ${charge.leg.dstLoc.name}">Route ID</td>
                    <td th:text="#{${transModes[charge.leg.transMode]}}">Trans Mode</td>
                    <td th:text="${charge.type.name}">Type</td>
                    <td th:text="${charge.sp.name}">SP Name</td>
                    <td th:text="#{${chargeWays[__${charge.way}__].i18nKey}}">Way</td>
                    <td th:text="${charge.unitPrice}">Unit Price</td>
                    <td th:text="${charge.totalPrice}">Total Price</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
