<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- Task Header -->
<div th:include="layout :: task-header"></div>

<!-- Transportation Operation -->
<div class="container">
    <div th:include="layout :: planning-tab"></div>
</div>
<!-- /.container -->

<div class="container">
    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(charges)}">
        <thead>
        <tr>
            <th th:text="#{charge.id}">ID</th>
            <th th:text="#{charge.type}">Type</th>
            <th th:text="#{charge.way}">Way</th>
            <th th:text="#{charge.unit.price}">Unit Price</th>
            <th th:text="#{charge.total.price}">Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="charge : ${charges}">
            <td th:text="${charge.id}">ID</td>
            <td th:text="${cts[__${charge.type}__].name}">Type</td>
            <td th:text="#{${chargeWays[__${charge.way}__].i18nKey}}">Way</td>
            <td th:text="${charge.unitPrice}">Unit Price</td>
            <td th:text="${charge.totalPrice}">Total Price</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- /.container -->

<div class="container">
    <form action="/charge" method="POST" th:object="${charge}" class="form-horizontal center">
        <div class="form-group">
            <label th:text="#{charge.type}" class="col-lg-4 control-label">Charge Type</label>

            <div class="col-lg-8">
                <select th:field="*{type}" class="form-control">
                    <option th:each="ct : ${cts}"
                            th:value="${ct.id}"
                            th:text="${ct.name}">Charge Type
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label th:text="#{charge.way}" class="col-lg-4 control-label">Charge Way</label>

            <div class="col-lg-8">
                <ul class="list-inline">
                    <li th:each="chargeWay : ${chargeWays}">
                        <input type="radio" th:field="*{way}" th:value="${chargeWay.value}"/>
                        <label th:for="${#ids.prev('way')}"
                               th:text="#{${chargeWay.i18nKey}}">Charge Way</label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label th:text="#{charge.unit.price}" class="col-lg-4 control-label">Unit Price</label>

            <div class="col-lg-8">
                <input type="text" th:field="*{unitPrice}" class="form-control"/>
            </div>

            <span th:errors="*{unitPrice}">error</span>
        </div>

        <div class="form-group">
            <label th:text="#{charge.total.price}" class="col-lg-4 control-label">Total Price</label>

            <div class="col-lg-8">
                <input type="text" th:field="*{totalPrice}" class="form-control"/>
            </div>

            <span th:errors="*{totalPrice}">error</span>
        </div>

        <input type="hidden" name="taskId" th:value="${task.id}" value="0"/>

        <input type="submit" value="Record" class="btn btn-lg btn-primary"
               th:attr="value=#{charge.record}"/>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/js/bootstrap-3.0.0.js"></script>
</body>

</html>
