<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Welcome Customer!
<table th:unless="${#lists.isEmpty(customers)}">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${customers}">
        <td th:text="${task.id}">id</td>
        <td th:text="${task.name}">name</td>
    </tr>
    </tbody>
</table>

<form action="/customer" method="POST">
    <input id="name" name="name" type="text"/>
    <input type="submit" value="Add customer"/>
</form>
</body>
</html>