<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">
    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(customers)}">
        <thead>
        <tr>
            <th th:text="#{customer.id}">ID</th>
            <th th:text="#{customer.code}">Code</th>
            <th th:text="#{customer.name}">Name</th>
            <th th:text="#{address}">Address</th>
            <th th:text="#{contact}">Contact</th>
            <th th:text="#{phone}">Phone</th>
            <th th:text="#{cell}">Cell</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}">ID</td>
            <td th:text="${customer.code}">Code</td>
            <td th:text="${customer.name}">Name</td>
            <td th:text="${customer.address} + ' ' + ${customer.postcode}">Name</td>
            <td th:text="${customer.contact}">Contact</td>
            <td th:text="${customer.phone}">Phone</td>
            <td th:text="${customer.cell}">Cell</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form action="/customer" method="POST" th:object="${customer}" class="form-horizontal center">

        <div class="form-group" th:classappend="${#fields.hasErrors('code')} ? 'has-error'">
            <label th:text="#{customer.code} + '*'" class="col-lg-3 control-label">Code</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{code}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{code}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label th:text="#{customer.name} + '*'" class="col-lg-3 control-label">Name</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{name}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{name}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
            <label th:text="#{address}" class="col-lg-3 control-label">Address</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{address}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{address}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('postcode')} ? 'has-error'">
            <label th:text="#{postcode}" class="col-lg-3 control-label">Postcode</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{postcode}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{postcode}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('contact')} ? 'has-error'">
            <label th:text="#{contact}" class="col-lg-3 control-label">Contact</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{contact}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{contact}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-error'">
            <label th:text="#{phone}" class="col-lg-3 control-label">Phone</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{phone}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{phone}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('cell')} ? 'has-error'">
            <label th:text="#{cell}" class="col-lg-3 control-label">Cell</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{cell}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{cell}">error</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <input type="submit" value="Add Customer" class="btn btn-default"
                       th:attr="value=#{customer.add}"/>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
