<!DOCTYPE html>
<html>
<head>
    <!--
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    -->

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Liquid</title>
    
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
    <link href="/resources/css/typeahead.css" rel="stylesheet"/>
    <link href="/resources/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link rel="icon" href="/resources/favicon.ico"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/resources/html5shiv/html5shiv.js"></script>
      <script src="/resources/respond/respond.min.js"></script>
    <![endif]-->    
</head>

<body>

<div th:fragment="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" th:text="#{branding}">Branding</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a href="/account" th:text="#{account}">User</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/task" th:text="#{task}">Task</a>
                    </li>
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{order}">Order</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/order" th:text="#{order.shipping}">Shipping Order</a></li>                            
                            <li><a href="/recv_order" th:text="#{order.receiving}">Receiving cOrder</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_MARKETING')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{route}">Route</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/route" th:text="#{route}">Route<b class="caret"></b></a></li>
                            <li><a href="/shipment" th:text="#{shipment}">Shipment<b class="caret"></b></a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_CONTAINER')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{container}">Container</span><b class="caret"></b>
                        </a>                    
                        <ul class="dropdown-menu">
                            <li><a href="/container" th:text="#{container}">Container</a></li>
                            <li><a href="/data_dict/container_subtype" th:text="#{container.subtype}">Sp Type</a></li>
                            <li><a href="/container/import" th:text="#{container.import}">Container Import</a></li>
                            <li><a href="/container/release/now" th:text="#{container.release.info}">Container Release</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{charge}">Financial Service</span><b class="caret"></b>
                        </a>                        
                        <ul class="dropdown-menu">
                            <li><a href="/accounting/gross_profit" th:text="#{gross.profit}">Gross Profit</a></li>
                            <li><a href="/accounting/summary" th:text="#{charge.summary}">Financial Summary</a></li>
                            <li><a href="/accounting/receivable" th:text="#{charge.receivable}">Account Receivable</a></li>
                            <li><a href="/accounting/payable" th:text="#{charge.payable}">Account Payable</a></li>                            
                        </ul>                        
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{customer.service}">Customer Service</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/customer" th:text="#{customer}">Customer</a></li>
                            <li><a href="/service_subtype" th:text="#{service.subtype}">Service Subtype</a></li>
                            <!--
                            <li><a href="/service_item" th:text="#{service.item}">service Item</a></li>
                            -->
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_OPERATING')">
                        <a href="/sp" th:text="#{sp}">SP</a>
                    </li>
                    <li class="dropdown"
                        sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_CONTAINER', 'ROLE_OPERATING', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{data.dict}">Data Dict</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/charge/exchange_rate" th:text="#{exchange.rate}">Exchange Rate</a></li>
                            <li><a href="/tax_rate" th:text="#{tax.rate}">Tax Rate</a></li>                            
                            <li><a href="/goods" th:text="#{goods}">Cargo</a></li>
                            <li><a href="/location" th:text="#{location}">Location</a></li>
                            <li><a href="/sp_type" th:text="#{sp.type}">Sp Type</a></li>
                            <li><a href="/service_type" th:text="#{service.type}">Sp Type</a></li>
                            <li><a href="/railway_plan_type" th:text="#{railway.plan.type}">Railway Plan Type</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/diagram" th:text="#{diagram}">Diagram</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;
                            <span sec:authentication="name">Logged User Name</span>
                            [
                            <span sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{role.admin}"></span>
                            <span sec:authorize="hasRole('ROLE_SALES')" th:text="#{role.sales}"></span>
                            <span sec:authorize="hasRole('ROLE_MARKETING')" th:text="#{role.marketing}"></span>
                            <span sec:authorize="hasRole('ROLE_OPERATING')" th:text="#{role.operating}"></span>
                            <span sec:authorize="hasRole('ROLE_CONTAINER')" th:text="#{role.container}"></span>
                            <span sec:authorize="hasRole('ROLE_FIELD')" th:text="#{role.field}"></span>
                            <span sec:authorize="hasRole('ROLE_COMMERCE')" th:text="#{role.commerce}"></span>
                            ]
                            <b class="caret" />
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="'/account/' + ${#authentication.name}">
                                    <i class="glyphicon glyphicon-cog" /> <span th:text="#{apply}">Apply Change</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/logout" th:text="#{logout}">Logout</a>
                    </li>
                    <li><a href="/account/register" th:text="#{register}">Register</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div><!--/header -->

<!-- TaskDto Bar -->
<div th:fragment="task-bar">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <h4>
                        <span th:text="${task.name}">Task Name</span>
                        [<a target="_blank" th:href="'/order/' + ${task.orderId}" th:text="${task.orderNo}">Order Link</a>]
                        <span th:text="'[' + ${task.assignee} + ']'" th:if="${task.assignee}"/>
                        <small th:text="${task.description}"></small>
                    </h4>
                </div>
            
                <div class="col-xs-2">
                    <form action="/task" method="POST">
                        <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>

                        <button type="submit" name="claim" value="Claim" class="btn btn-sm btn-warning btn-block" th:unless="${task.assignee}">
                            <span th:text="#{task.claim}"/>
                        </button>                                        
                    </form>
                    <button class="btn btn-sm btn-success btn-block" data-toggle="modal" data-target="#completeTask"
                            th:if="${task.assignee}" th:disabled="${#authentication.name} != ${task.assignee}">
                        <span th:text="#{task.complete}"/>
                    </button>    
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- jumbotron -->
    <!-- Modal -->
    <div class="modal" id="completeTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         style="overflow-y: hidden;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><span th:text="#{modal.complete.task}"/></h4>
                    <!--
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    -->
                </div>
                <div class="modal-body">
                    <h4>
                        <span class="glyphicon glyphicon-warning-sign text-danger" />
                        <span th:text="${task.prompt}" />
                    </h4>
                </div>
                <div class="modal-footer">
                    <form action="/task" method="POST">
                        <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                            <span th:text="#{modal.close}"/>
                        </button>
                        <button type="submit" name="complete" value="Complete" class="btn btn-success btn-sm">
                            <span th:text="#{task.complete}"/>
                        </button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
</div>

<!--
- Variables
- searchBarForm
-   action:
-   types:
-   type:
-   text: 
-->
<div th:fragment="search-bar">
    <br />
    <form method="GET" class="form-inline pull-right" role="form" th:action="${searchBarForm.action}" th:object="${searchBarForm}">
        <select th:unless="${#lists.isEmpty(searchBarForm.types)}" name="type" class="form-control input-sm" th:field="*{type}">
            <option th:each="t : ${searchBarForm.types}"
                    th:value="${t[0]}"
                    th:text="#{${t[1]}}">
            </option>
        </select>
                            
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" th:field="*{text}" />
            
            <span class="input-group-btn">                    
                <button type="submit" name="search" class="btn btn-primary"><i class="glyphicon glyphicon-search" /></button>
            </span>
        </div>             
    </form>
</div>

<!--
- Variables
- searchBarForm
-   id:
-   type:
-   number:
-   startDate:
-   endDate:
-   text: 
-->
<div th:fragment="enhanced-search-bar">
    <br />
            <form method="GET" class="form-inline pull-right" role="form" th:action="${searchBarForm.action}" th:object="${searchBarForm}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{type}"/>
                <input type="hidden" th:field="*{number}"/>
                <div class="input-group input-group-sm date" id="startPicker">
                    <span class="input-group-addon" th:text="#{start.date}">Start Date</span>
                    <input type="text" data-date-format="YYYY-MM-DD" class="form-control input-sm" th:field="*{startDate}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                
                <div class="input-group input-group-sm date" id="endPicker">
                    <span class="input-group-addon" th:text="#{end.date}">End Date</span>
                    <input type="text" data-date-format="YYYY-MM-DD" class="form-control input-sm" th:field="*{endDate}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>                
                                    
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" th:field="*{text}" />
                    
                    <span class="input-group-btn">                    
                        <button type="submit" name="search" class="btn btn-primary"><i class="glyphicon glyphicon-search" /></button>
                    </span>
                </div>             
            </form> 
</div>
<!--
- Variables
- contextPath: The context path except number, e.g. /order? or /order?type=abc&.
- page:
-->
<div th:fragment="pagination_bar">
    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li>
                <a th:href="${contextPath} + 'number=0'">&laquo;</a>
            </li>
            <li><a th:if="${page.hasPrevious()}"
                   th:href="${contextPath} + 'number=' + ${page.number - 1}"
                   th:text="${page.number}">1</a></li>
            <li><a href="" th:text="${page.number + 1}">2</a></li>
            <li><a th:if="${page.hasNext()}"
                   th:href="${contextPath} + 'number=' + ${page.number + 1}"
                   th:text="${page.number + 2}">3</a></li>
            <li><a th:href="${contextPath} + 'number=' + ${page.totalPages - 1}">&raquo;</a>
            </li>
        </ul>
    </div> 
</div>

<!--
- @alert
-->
<div th:fragment="alert">
    <div th:if="${alert}" class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span th:text="#{${alert}}">Alert</span>
    </div>
</div>

<!-- footer -->
<div th:fragment="footer">
    <hr/>
    <div class="container">
        <footer>
            <p th:text="#{footer} + #{version} + ' ' + '' + #{build.date}">Copyright</p>
        </footer>
    </div>
    <!-- /.container -->
</div>
<!--/footer -->

<th:block th:fragment="js">

<script src="/resources/jquery/jquery.js"></script>
<script src="/resources/bootstrap/js/bootstrap.js"></script>
<script src="/resources/typeahead/typeahead.bundle.js"></script>
<script src="/resources/handlebars/handlebars.js"></script>
<script src="/resources/moment/moment-with-locales.js"></script>
<script src="/resources/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>      
<script src="/resources/js/liquid.js"></script>
  
</th:block>

</body>

</html>
