<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:fragment="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:text="#{branding}">Branding</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/task" th:text="#{task}">Task</a>
                    </li>
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{order}">Order</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/order?number=0" th:text="#{order.shipping}">
                                    Shipping Order<b class="caret"></b>
                                </a>
                            </li>
                            <li><a href="/recv_order" th:text="#{order.receiving}">Receiving Order</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_CONTAINER')">
                        <a href="/container" th:text="#{container}">Container</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_COMMERCE')">
                        <a href="/charge/summary?number=0" th:text="#{charge}">Charge</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')">
                        <a href="/customer" th:text="#{customer}">Customer</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_OPERATING')">
                        <a href="/sp" th:text="#{sp}">SP</a>
                    </li>
                    <li class="dropdown"
                        sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{data.dict}">Data Dict</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/charge/exchange_rate" th:text="#{exchange.rate}">Exchange Rate</a></li>
                            <li><a href="/goods" th:text="#{goods}">Cargo</a></li>
                            <li><a href="/location" th:text="#{location}">Location</a></li>
                            <li><a href="/ct" th:text="#{charge.type}">Charge Type</a></li>
                            <li><a href="/sp_type" th:text="#{sp.type}">Sp Type</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/diagram" th:text="#{diagram}">Diagram</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;
                            <span sec:authentication="name">Logged User Name</span>
                            [
                            <span sec:authorize="hasRole('ROLE_SALES')" th:text="#{role.sales}"></span>
                            <span sec:authorize="hasRole('ROLE_MARKETING')" th:text="#{role.marketing}"></span>
                            <span sec:authorize="hasRole('ROLE_OPERATING')" th:text="#{role.operating}"></span>
                            <span sec:authorize="hasRole('ROLE_CONTAINER')" th:text="#{role.container}"></span>
                            <span sec:authorize="hasRole('ROLE_FIELD')" th:text="#{role.field}"></span>
                            <span sec:authorize="hasRole('ROLE_COMMERCE')" th:text="#{role.commerce}"></span>
                            ]
                        </a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="logout" th:text="#{logout}">Logout</a>
                    </li>
                    <li><a href="register" th:text="#{register}">Register</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!--/header -->

<div th:fragment="left-side">
    <ul class="col-lg-2 nav nav-pills nav-stacked">
        <li th:classappend="${queueActive}">
            <a href="/task" class="list-group-item">
                <span class="badge pull-right" th:text="${taskBadge.queueSize}"></span>
                <span th:text="#{task.queue}">Task Queue</span>
            </a>
        </li>
        <li th:classappend="${myActive}">
            <a href="/task/my" class="list-group-item">
                <span class="badge pull-right" th:text="${taskBadge.myTasksQty}">4</span>
                <span th:text="#{task.my}">My Task</span>
            </a>
        </li>
        <li th:classappend="${warningActive}">
            <a href="/task/warning" class="list-group-item">
                <span class="badge pull-right" th:text="${taskBadge.warningQty}">6</span>
                <span th:text="#{warning}">Warning</span>
            </a>
        </li>
    </ul>
</div>

<!--
Leg tab
varable:
tab,
taskId,
planningId,
roadId,
-->
<div th:fragment="leg-tab">
    <div id="middle" class="container">
        <ul class="nav nav-tabs">
            <li class="active" th:class="${tab} == 'rail' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/' + ${planningId} + '/route/' + ${routeId} + '/rail'"
                   th:text="#{rail}">Rail</a>
            </li>
            <li class="active" th:class="${tab} == 'barge' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/' + ${planningId} + '/route/' + ${routeId} + '/barge'"
                   th:text="#{barge}">Barge</a>
            </li>
            <li class="active" th:class="${tab} == 'vessel' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/' + ${planningId} + '/route/' + ${routeId} + '/vessel'"
                   th:text="#{vessel}">Vessel</a>
            </li>
            <li class="active" th:class="${tab} == 'road' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/' + ${planningId} + '/route/' + ${routeId} + '/road'"
                   th:text="#{road}">Road</a>
            </li>
        </ul>
    </div>
</div>

<!-- TaskDto Bar -->
<div th:fragment="task-bar">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <span th:text="${task.name}">Task Name</span>
                [<a href="/order/{id}" target="_blank" th:href="'/order/' + ${task.orderId}"
                    th:text="#{order.id} + ':' + ${task.orderId}">Order Link</a>]
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <blockquote>
                        <p th:text="${task.description}"></p>
                    </blockquote>
                </div>
                <div class="col-lg-3">
                    <form action="/task" method="POST">
                        <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>

                        <button type="submit" name="claim" value="Claim" class="btn btn-default" th:unless="${task.assignee}">
                            <span th:text="#{task.claim}" />
                        </button>
                        
                        <button class="btn btn-primary" data-toggle="modal" data-target="#completeTask" th:if="${task.assignee}">
                            <span th:text="#{task.complete}" />
                        </button>                               
                    </form>
                </div>
            </div>
            <div class="alert alert-danger" th:if="${task_error}">
                <span th:text="${task_error}">Task Error</span>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.jumbotron -->
    
    <!-- Modal -->
    <div class="modal" id="completeTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><span th:text="#{modal.complete.task}" /></h4>
                    <!--
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    -->
                </div>
                <div class="modal-body">
                    <h4><span class="glyphicon glyphicon-info-sign"></span></h4>
                </div>
                <div class="modal-footer">
                    <form action="/task" method="POST">
                        <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span th:text="#{modal.close}" />
                        </button>
                        <button type="submit" name="complete" value="Complete" class="btn btn-primary">
                            <span th:text="#{task.complete}" />
                        </button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    
</div>


<div th:fragment="charge-tab">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active" th:class="${tab} == 'summary' ? 'active'">
                <a href="/charge/summary?number=0" th:text="#{charge.summary}">Summary</a>
            </li>
            <li class="active" th:class="${tab} == 'details' ? 'active'">
                <a href="/charge/details?number=0" th:text="#{charge.details}">Details</a>
            </li>
        </ul>
    </div>
</div>

<!-- footer -->
<div th:fragment="footer">
    <hr/>
    <div class="container">
        <footer>
            <p th:text="#{footer} + #{version} + ' ' + '' + #{build.date}">Copyright</p>
        </footer>
    </div>
    <!-- /.container -->
</div>
<!--/footer -->

<div th:fragment="js">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/resources/js/jquery-1.10.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/resources/js/bootstrap-3.0.0.js"></script>
    <script src="/resources/typeahead.js-0.9.3/hogan-2.0.0.js"></script>
    <script src="/resources/typeahead.js-0.9.3/typeahead.js"></script>
</div>
</body>

</html>
