<!DOCTYPE html>
<html>
<head>
    <!--
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    -->

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Liquid</title>
    
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
    <link rel="icon" href="/resources/favicon.ico"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/resources/html5shiv/html5shiv.js"></script>
      <script src="/resources/respond/respond.min.js"></script>
    <![endif]-->    
</head>

<body>

<div th:fragment="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:text="#{branding}">Branding</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a href="/account" th:text="#{account}">User</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/task" th:text="#{task}">Task</a>
                    </li>
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{order}">Order</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/order?number=0" th:text="#{order.shipping}">
                                    Shipping Order<b class="caret"></b>
                                </a>
                            </li>
                            <!--
                            <li><a href="/recv_order" th:text="#{order.receiving}">Receiving Order</a></li>
                            -->
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_CONTAINER')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{container}">Container</span><b class="caret"></b>
                        </a>                    
                        <ul class="dropdown-menu">
                            <li><a href="/container?number=0" th:text="#{container}">Container</a></li>
                            <li><a href="/data_dict/container_subtype" th:text="#{container.subtype}">Sp Type</a></li>
                            <li><a href="/container/import" th:text="#{container.import}">Container Import</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_COMMERCE')">
                        <a href="/charge/summary?number=0" th:text="#{charge}">Charge</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{customer.service}">Customer Service</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/customer" th:text="#{customer}">Customer</a></li>
                            <li><a href="/service_subtype" th:text="#{service.subtype}">Service Subtype</a></li>
                            <!--
                            <li><a href="/service_item" th:text="#{service.item}">Service Item</a></li>
                            -->
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_OPERATING')">
                        <a href="/sp" th:text="#{sp}">SP</a>
                    </li>
                    <li class="dropdown"
                        sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_CONTAINER', 'ROLE_OPERATING', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{data.dict}">Data Dict</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/charge/exchange_rate" th:text="#{exchange.rate}">Exchange Rate</a></li>
                            <li><a href="/tax_rate" th:text="#{tax.rate}">Tax Rate</a></li>                            
                            <li><a href="/goods" th:text="#{goods}">Cargo</a></li>
                            <li><a href="/location" th:text="#{location}">Location</a></li>
                            <li><a href="/sp_type" th:text="#{sp.type}">Sp Type</a></li>
                            <li><a href="/service_type" th:text="#{service.type}">Sp Type</a></li>
                            <li><a href="/railway_plan_type" th:text="#{railway.plan.type}">Railway Plan Type</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/diagram" th:text="#{diagram}">Diagram</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;
                            <span sec:authentication="name">Logged User Name</span>
                            [
                            <span sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{role.admin}"></span>
                            <span sec:authorize="hasRole('ROLE_SALES')" th:text="#{role.sales}"></span>
                            <span sec:authorize="hasRole('ROLE_MARKETING')" th:text="#{role.marketing}"></span>
                            <span sec:authorize="hasRole('ROLE_OPERATING')" th:text="#{role.operating}"></span>
                            <span sec:authorize="hasRole('ROLE_CONTAINER')" th:text="#{role.container}"></span>
                            <span sec:authorize="hasRole('ROLE_FIELD')" th:text="#{role.field}"></span>
                            <span sec:authorize="hasRole('ROLE_COMMERCE')" th:text="#{role.commerce}"></span>
                            ]
                            <b class="caret" />
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/account/password/uid" th:href="'/account/password/' + ${#authentication.name}">
                                    <i class="glyphicon glyphicon-cog" />&nbsp;<span th:text="#{password.change}">Change Password</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_FIELD', 'ROLE_COMMERCE')">
                        <a href="/logout" th:text="#{logout}">Logout</a>
                    </li>
                    <li><a href="/account/register" th:text="#{register}">Register</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!--/header -->

<!--
Leg tab
varable:
tab,
taskId,
planningId,
roadId,
-->
<div th:fragment="leg-tab">
    <div id="middle" class="container">
        <ul class="nav nav-tabs">
            <li class="active" th:class="${tab} == 'rail' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/route/' + ${routeId} + '/rail'"
                   th:text="#{rail}">Rail</a>
            </li>
            <li class="active" th:class="${tab} == 'barge' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/route/' + ${routeId} + '/barge'"
                   th:text="#{barge}">Barge</a>
            </li>
            <li class="active" th:class="${tab} == 'vessel' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/route/' + ${routeId} + '/vessel'"
                   th:text="#{vessel}">Vessel</a>
            </li>
            <li class="active" th:class="${tab} == 'road' ? 'active'">
                <a th:href="'/task/' + ${taskId} + '/planning/route/' + ${routeId} + '/road'"
                   th:text="#{road}">Road</a>
            </li>
        </ul>
    </div>
</div>

<!-- TaskDto Bar -->
<div th:fragment="task-bar">
    <div class="jumbotron">
        <div class="container">
            <h4>
                <span th:text="${task.name}">Task Name</span>
                [<a target="_blank" th:href="'/order/' + ${task.orderId}" th:text="${task.orderNo}">Order Link</a>]
                <span th:text="'[' + ${task.assignee} + ']'" th:if="${task.assignee}"/>          
            </h4>
            <div class="row">
                <div class="col-lg-2">
                    <form action="/task" method="POST">
                        <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>

                        <button type="submit" name="claim" value="Claim" class="btn btn-sm btn-warning btn-block" th:unless="${task.assignee}">
                            <span th:text="#{task.claim}"/>
                        </button>                                        
                    </form>
                    <button class="btn btn-sm btn-success btn-block" data-toggle="modal" data-target="#completeTask"
                            th:if="${task.assignee}" th:disabled="${#authentication.name} != ${task.assignee}">
                        <span th:text="#{task.complete}"/>
                    </button>    
                </div>
                <div class="col-lg-10">
                    <h5 th:text="${task.description}"></h5>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- jumbotron -->
    <!-- Modal -->
    <div class="modal" id="completeTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         style="overflow-y: hidden;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><span th:text="#{modal.complete.task}"/></h4>
                    <!--
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    -->
                </div>
                <div class="modal-body">
                    <h4>
                        <span class="glyphicon glyphicon-info-sign" />
                        <span th:text="${task.prompt}" />
                    </h4>
                </div>
                <div class="modal-footer">
                    <form action="/task" method="POST">
                        <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span th:text="#{modal.close}"/>
                        </button>
                        <button type="submit" name="complete" value="Complete" class="btn btn-primary">
                            <span th:text="#{task.complete}"/>
                        </button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
</div>


<div th:fragment="charge-tab">

        <ul class="nav nav-tabs">
            <li class="active" th:class="${tab} == 'summary' ? 'active'">
                <a href="/charge/summary?number=0" th:text="#{charge.summary}">Summary</a>
            </li>
            <li class="active" th:class="${tab} == 'details' ? 'active'">
                <a href="/charge/details?number=0" th:text="#{charge.details}">Details</a>
            </li>
            <li class="active" th:class="${tab} == 'receivable' ? 'active'">
                <a href="/charge/receivable?number=0" th:text="#{charge.receivable}">Details</a>
            </li>
            <li class="active" th:class="${tab} == 'payable' ? 'active'">
                <a href="/charge/payable?number=0" th:text="#{charge.payable}">Details</a>
            </li>                        
        </ul>

</div>

<div th:fragment="pagination_bar">
    <div class="text-center">
        <ul class="pagination">
            <li>
                <a th:href="${contextPath} + '?number=0'">&laquo;</a>
            </li>
            <li><a th:if="${page.hasPreviousPage()}"
                   th:href="${contextPath} + '?number=' + ${page.number - 1}"
                   th:text="${page.number}">1</a></li>
            <li><a href="" th:text="${page.number + 1}">2</a></li>
            <li><a th:if="${page.hasNextPage()}"
                   th:href="${contextPath} + '?number=' + ${page.number + 1}"
                   th:text="${page.number + 2}">3</a></li>
            <li><a th:href="${contextPath} + '?number=' + ${page.totalPages - 1}">&raquo;</a>
            </li>
        </ul>
    </div> 
</div>

<!-- footer -->
<div th:fragment="footer">
    <hr/>
    <div class="container">
        <footer>
            <p th:text="#{footer} + #{version} + ' ' + '' + #{build.date}">Copyright</p>
        </footer>
    </div>
    <!-- /.container -->
</div>
<!--/footer -->

<div th:fragment="js">
    <script src="/resources/jquery/jquery.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.js"></script>
    <script src="/resources/typeahead/typeahead.bundle.js"></script>
    <script src="/resources/handlebars/handlebars.js"></script>
    <script src="/resources/js/liquid.js"></script>
</div>
</body>

</html>
