<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="f" class="container">
    <form action="/account/register" method="POST" th:object="${user}">

        <div class="form-group" th:classappend="${#fields.hasErrors('uid')} ? 'has-error'">
            <label th:text="#{account.uid}">Account UID</label>
            <input type="text" th:field="*{uid}" class="form-control input-sm"/>
            <span th:errors="*{uid}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
            <label th:text="#{password}">Account Password</label>
            <input type="password" th:field="*{password}" class="form-control input-sm"/>
            <span th:errors="*{password}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password2')} ? 'has-error'">
            <label th:text="#{password2}">Account Password 2</label>
            <input type="password" th:field="*{password2}" class="form-control input-sm"/>
            <span th:errors="*{password2}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('surname')} ? 'has-error'">
            <label th:text="#{surname}">Surnmae</label>
            <input type="text" th:field="*{surname}" class="form-control input-sm"/>
            <span th:errors="*{surname}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('givenName')} ? 'has-error'">
            <label th:text="#{given.name}">Given Name</label>
            <input type="text" th:field="*{givenName}" class="form-control input-sm"/>
            <span th:errors="*{givenName}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
            <label th:text="#{email}">Email</label>
            <input type="text" th:field="*{email}" class="form-control input-sm"/>
            <span th:errors="*{email}">error</span>
        </div>

        <div class="form-group">
            <label th:text="#{group}">Group</label>

            <select th:field="*{group}" class="form-control input-sm">
                <option th:each="groupType : ${groupTypes}"
                        th:value="${groupType.type}"
                        th:text="#{${groupType.i18nKey}}">Department Name
                </option>
            </select>
        </div>

        <input type="submit" name="register" value="Register" class="btn btn-success btn-block btn-sm" th:value="#{account.register}"/>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
