<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Liquid</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/order" th:text="#{order}">Order</a></li>
                <li><a href="/task" th:text="#{task}">Task</a></li>
                <li><a href="/customer" th:text="#{customer}">Customer</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="logout" th:text="#{logout}">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <form name='f' action="/login" method='POST' class="form">
        <h2 class="form-heading" th:text="#{login}">Login</h2>

        <div class="form-group">
            <label th:text="#{username}">Username</label>
            <input type="text" name="username" class="form-control"/>
        </div>

        <div class="form-group">
            <label th:text="#{password}">Password</label>
            <input type="password" name="password" class="form-control"/>
        </div>

        <input type="submit" value='Login' class="btn btn-lg btn-primary btn-block" th:attr="value=#{login}"/>
    </form>

</div>
<!-- /container -->


<hr/>

<div class="container">
    <footer>
        <p>&copy; Liquid 2013</p>
    </footer>
</div>

<!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/js/bootstrap-3.0.0.js"></script>
</body>

</html>
