<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
        div#location.container {
        max-width: 800px;
        }
    </style>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">
    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(sps)}">
        <thead>
        <tr>
            <th th:text="#{sp.id}">ID</th>
            <th th:text="#{sp.name}">Name</th>
            <th th:text="#{sp.type}">Type</th>
            <th th:text="#{address}">Address</th>
            <th th:text="#{contact}">Contact</th>
            <th th:text="#{phone}">Phone</th>
            <th th:text="#{cell}">Cell</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sp : ${sps}">
            <td th:text="${sp.id}">ID</td>
            <td th:text="${sp.name}">Name</td>
            <td th:text="${spTypes[sp.type]}">Type</td>
            <td th:text="${sp.address} + ', ' + ${sp.postcode}">Name</td>
            <td th:text="${sp.contact}">Contact</td>
            <td th:text="${sp.phone}">Phone</td>
            <td th:text="${sp.cell}">Cell</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form action="/sp" method="POST" th:object="${sp}" class="form-horizontal center">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label th:text="#{sp.name}" class="col-lg-3 control-label">Name</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{name}" class="form-control"/>
            </div>
            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{name}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('type')} ? 'has-error'">
            <label th:text="#{sp.type}" class="col-lg-3 control-label">SP Type</label>

            <div class="col-lg-9">
                <select th:field="*{type}" class="form-control">
                    <option th:each="spType : ${spTypes}"
                            th:value="${spType.key}"
                            th:text="${spType.value}">SP Type
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
            <label th:text="#{address}" class="col-lg-3 control-label">Address</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{address}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{address}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('postcode')} ? 'has-error'">
            <label th:text="#{postcode}" class="col-lg-3 control-label">Postcode</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{postcode}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{postcode}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('contact')} ? 'has-error'">
            <label th:text="#{contact}" class="col-lg-3 control-label">Contact</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{contact}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{contact}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-error'">
            <label th:text="#{phone}" class="col-lg-3 control-label">Phone</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{phone}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{phone}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('cell')} ? 'has-error'">
            <label th:text="#{cell}" class="col-lg-3 control-label">Cell</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{cell}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{cell}">error</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <input type="submit" value="Add SP" class="btn btn-default"
                       th:attr="value=#{sp.add}"/>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
