<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">

    <div class="starter-template">
        <h1 th:text="#{welcome}">Welcome Liquid</h1>

        <p class="lead">Liquid is container logistics system.</p>
    </div>

</div>

<div class="container">

    <form class="form">
        <h2 class="form-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address"/>
        <input type="password" class="form-control" placeholder="Password"/>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"/> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
