<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
    <link rel="icon" href="/resources/favicon.ico"/>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="f" class="container">
    <form method="POST" th:object="${truck}" th:action="'/task/' + ${task.id} + '/rail_truck/' + *{railContainerId}">

        <input type="hidden" th:field="*{railContainerId}"/>

        <div class="form-group">
            <label th:text="#{container.no}">BIC Code</label>
            <input type="text" th:field="*{bicCode}" class="form-control input-sm" readonly="readonly"/>
        </div>

        <div class="form-group">
            <label th:text="#{fleet}">Fleet</label>
            <select th:field="*{fleetId}" class="form-control input-sm">
                <option th:each="sp : ${sps}"
                        th:value="${sp.id}"
                        th:text="${sp.name}">SP Name
                </option>
            </select>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('plateNo')} ? 'has-error'">
            <label th:text="#{plate.no}">Loading TOC</label>
            <input type="text" th:field="*{plateNo}" class="form-control input-sm"/>
            <span th:errors="*{plateNo}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('trucker')} ? 'has-error'">
            <label th:text="#{trucker}">Loading TOC</label>
            <input type="text" th:field="*{trucker}" class="form-control input-sm"/>
            <span th:errors="*{trucker}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('loadingToc')} ? 'has-error'">
            <label th:text="#{loading.toc}">Loading TOC</label>
            <input type="text" th:field="*{loadingToc}" class="form-control input-sm"/>
            <span th:errors="*{loadingToc}">error</span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:field="*{batch}"/> <span th:text="#{batch}">Batch</span>
                </label>
            </div>
        </div>
        
        <input type="submit" name="save" class="btn btn-success btn-block btn-sm" th:value="#{save}"/>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include=" layout :: footer"/>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
