<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="layout :: task-bar"/>
<!-- {!end task bar} -->

<br/>
<!--
<div id="trucking" class="container" th:if="${task.assignee}">
    <form action="/task/{taskId}/rail_truck/sending" method="POST" class="center"
          th:object="${trucking}" th:action="'/task/' + ${task.id} + '/rail_truck/sending'">

        <div class="form-group">
            <label th:text="#{trucking}">Trucking</label>
            <ul class="list-inline">
                <li th:each="role : ${roles}">
                    <input type="radio" th:field="*{role}" th:value="${role.value}"/>
                    <label th:for="${#ids.prev('role')}"
                           th:text="#{${role.i18nKey}}">Role</label>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" name="save" value="Save Time" class="btn btn-default"
                       th:value="#{save}"/>
                <span th:if="${done}" class="glyphicon glyphicon-ok"/>
            </div>
        </div>
    </form>
</div>
-->
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include=" layout :: footer"/>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
