<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        div#trucking.container {
        max-width: 200px;
        }
    </style>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="layout :: task-bar"/>
<!-- {!end task bar} -->

<br/>
<!--
<div id="trucking" class="container" th:if="${task.assignee}">
    <form action="/task/{taskId}/rail_truck/sending" method="POST" class="center"
          th:object="${trucking}" th:action="'/task/' + ${task.id} + '/rail_truck/sending'">

        <div class="form-group">
            <label th:text="#{trucking}">Trucking</label>
            <ul class="list-inline">
                <li th:each="role : ${roles}">
                    <input type="radio" th:field="*{role}" th:value="${role.value}"/>
                    <label th:for="${#ids.prev('role')}"
                           th:text="#{${role.i18nKey}}">Role</label>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" name="save" value="Save Time" class="btn btn-default"
                       th:value="#{save}"/>
                <span th:if="${done}" class="glyphicon glyphicon-ok"/>
            </div>
        </div>
    </form>
</div>
-->
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include=" layout :: footer"/>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
