<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
    
    <style>
        div#locationForm.container {
            max-width: 600px;
        }
    </style>    
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br /><br />

<div class="container">
    <div th:if="${alert}" class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span th:text="${alert}">Alert</span>
    </div>
</div>

<div id="locationForm" class="container">
    <form th:action="'/location/' + ${location.id}" method="POST" th:object="${location}">        
        <div class="form-group">
             <label for="id" th:text="#{location.id}">Id</label>
             <input type="text" th:field="*{id}" class="form-control" readonly="readonly"/>
        </div>
    
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name" th:text="#{location.name}">Name</label>
            
            <input type="text" th:field="*{name}" class="form-control"/>

            <div>
                <span th:errors="*{name}">error</span>
            </div>
        </div>
        
        <div class="form-group">
            <label for="type" th:text="#{location.type}">Location Type</label>

            <select th:field="*{type}" class="form-control">
                <option th:each="locationType : ${locationTypes}"
                    th:value="${locationType.type}" th:text="#{${locationType.i18nKey}}">Location Type
                </option>
            </select>
        </div>
        
        <input type="submit" value="Add Location" class="btn btn-primary btn-block" name="add" th:value="#{update}"/>
    </form>
</div><!-- form -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
