<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="f" class="container">
    <div th:include="layout :: alert"/>

    <h3><span th:text="#{location}"></span></h3>
    
    <hr />

    <form th:action="'/location/' + ${location.id}" method="POST" th:object="${location}">        
        <div class="form-group">
             <label for="id" th:text="#{location.id}">Id</label>
             <input type="text" th:field="*{id}" class="form-control input-sm" readonly="readonly"/>
        </div>
    
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name" th:text="#{location.name}">Name</label>
            
            <input type="text" th:field="*{name}" class="form-control input-sm"/>

            <div>
                <span th:errors="*{name}">error</span>
            </div>
        </div>
        
        <div class="form-group">
            <label for="type" th:text="#{location.type}">Location Type</label>

            <select th:field="*{type}" class="form-control input-sm">
                <option th:each="locationType : ${locationTypes}"
                    th:value="${locationType.type}" th:text="#{${locationType.i18nKey}}">Location Type
                </option>
            </select>
        </div>
        
        <div th:if="*{id}" class="form-group">
            <label class="control-label"><span th:text="#{query.name}" /></label>
            <textarea class="form-control input-sm" th:field="*{queryName}" rows="3"></textarea>
        </div>
                
        <input type="submit" value="Add Location" class="btn btn-success btn-block btn-sm" name="add" th:value="#{update}"/>
    </form>
</div><!-- form -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
