<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
    <style>
        div#locationForm.container {
            max-width: 600px;
        }
    </style>     
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br /><br />

<div class="container">
    <div th:if="${alert}" class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span th:text="${alert}">Alert</span>
    </div>
</div>

<div id="locationForm" class="container">
    <form action="/location" method="POST" th:object="${location}">  
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name" th:text="#{location.name}">Name</label>
            
            <input type="text" th:field="*{name}" class="form-control"/>

            <div>
                <span th:errors="*{name}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('types')} ? 'has-error'">
            <div class="col-lg-3" th:each="locationType : ${locationTypes}">
                <label class="checkbox-inline">
                    <input type="checkbox" th:field="*{types}" th:value="${locationType.type}"/>
                    <span th:text="#{${locationType.i18nKey}}">Location Type</span>
                </label>
            </div>
            
            <div>
                <span th:errors="*{types}">error</span>
            </div>
            <br />
        </div>
     
        <input type="submit" value="Add Location" class="btn btn-primary btn-block" name="add" th:value="#{location.add}"/>

    </form>
</div><!-- form -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
