<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div class="container">
    <form action="/task/{taskId}/rail/{containerId}" method="POST" class="form-horizontal center"
          th:object="${container}" th:action="'/task/' + ${taskId} + '/rail_arrival/' + ${container.railContainerId}">

        <input type="hidden" th:field="*{railContainerId}"/>

        <div class="form-group">
            <label class="col-lg-3 control-label" th:text="#{container.no}">BIC Code</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{bicCode}" class="form-control" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_FIELD')">
            <label class="col-lg-offset-3 col-lg-9" th:text="#{date.pattern}"/>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_FIELD')"
             th:classappend="${#fields.hasErrors('ata')} ? 'has-error'">
            <label class="col-lg-3 control-label" th:text="#{rail.ata}">Rail ATA</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{ata}" class="form-control"/>
                <span th:errors="*{ata}">error</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" th:field="*{batch}"/> <span th:text="#{batch}">Batch</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <input type="submit" name="save" value="Save Time" class="btn btn-default"
                       th:value="#{save}"/>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include=" layout :: footer"/>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
