<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="l" class="container">
    <div class="row">
        
        <div th:include="container/template :: release-bar"/>

        <div class="col-xs-10">
            <h3><span th:text="#{container.release.all}"></span></h3>
    
            <hr />
    
                <table class="table table-striped table-hover table-condensed table-16">
                    <thead>
                    <tr>
                        <th th:text="#{container.no}">Container No.</th>
                        <th th:text="#{fleet}">Fleet</th>
                        <th th:text="#{plate.no}">Plate No.</th>
                        <th th:text="#{trucker}">Trucker</th>
                        <th th:text="#{container.released.at}">Released At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="container : ${page.content}">
                        <td th:text="${container.sc.container} ? ${container.sc.container.bicCode} : ${container.sc.bicCode}">
                            Container No.
                        </td>
                        <td th:text="${container.fleet} ? ${container.fleet.name} : ''">Trucker</td>
                        <td th:text="${container.plateNo}">Container No.</td>
                        <td th:text="${container.trucker}">Trucker</td>
                        <td th:text="${container.releasedAt} ? ${#calendars.format(container.releasedAt,'yyyy/MM/dd')} : ''">Released At</td>
                    </tr>
                    </tbody>
                </table>
                
            <div th:include="layout :: pagination_bar"></div>
                            
        </div>                
    </div><!-- row -->                
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
