<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
        div#container.container {
        max-width: 640px;
        }
    </style>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body" th:unless="${#lists.isEmpty(page.content)}">
            <table class="table table-striped table-hover table-condensed table-16">
                <thead>
                <tr>
                    <th th:text="#{container.id}">ID</th>
                    <th>BIC Code</th>
                    <th th:text="#{container.subtype}">Subtype</th>
                    <th th:text="#{container.owner}">Owner</th>
                    <th th:text="#{container.yard}">Yard</th>
                    <th th:text="#{status}">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="container : ${page.content}">
                    <td th:text="${container.id}">ID</td>
                    <td th:text="${container.bicCode}">BIC Code</td>
                    <td th:text="${container.subtype.name}">Type</td>
                    <td th:text="${container.owner.name}">Owner</td>
                    <td th:text="${container.yard.name}">Yard</td>
                    <td th:text="#{${statusArray[__${container.status}__].i18nKey}}">Status</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="pagination_bar" class="col-md-offset-1">
        <ul class="pagination">
            <li>
                <a href="/container?number=0">&laquo;</a>
            </li>
            <li><a href="/container?nubmer=1" th:if="${page.hasPreviousPage()}"
                   th:href="'/container?number=' + ${page.number - 1}"
                   th:text="${page.number}">1</a></li>
            <li><a href="" th:text="${page.number + 1}">2</a></li>
            <li><a href="#" th:if="${page.hasNextPage()}"
                   th:href="'/container?number=' + ${page.number + 1}"
                   th:text="${page.number + 2}">3</a></li>
            <li><a href="/container?number={totalPages}" th:href="'/container?number=' + ${page.totalPages - 1}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.container -->

<div id="container" class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="/container" method="POST" class="form-horizontal center" th:object="${container}">

                <div class="form-group" th:classappend="${#fields.hasErrors('bicCode')} ? 'has-error'">
                    <label class="col-lg-3 control-label">BIC Code *</label>

                    <div class="col-lg-9">
                        <input type="text" th:field="*{bicCode}" class="form-control"/>
                    </div>

                    <div class="col-lg-offset-3 col-lg-9">
                        <span class="help-inline" th:errors="*{bicCode}">error</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label" th:text="#{container.owner} + ' *'">Owner</label>

                    <div class="col-lg-9">
                        <select th:field="*{ownerId}" class="form-control">
                            <option th:each="owner : ${owners}"
                                    th:value="${owner.id}"
                                    th:text="${owner.name}">Owner Name
                            </option>
                        </select>
                    </div>
                </div><!-- Owner -->

                <!--
                <div class="form-group">
                    <label class="col-lg-3 control-label" th:text="#{container.type}">Owner</label>

                    <div class="col-lg-9">
                        <select th:field="*{type}" class="form-control">
                            <option th:each="containerType : ${containerTypes}"
                                    th:value="${containerType.type}"
                                    th:text="${containerType.name}">Type
                            </option>
                        </select>
                    </div>
                </div>
                -->

                <div class="form-group">
                    <label class="col-lg-3 control-label" th:text="#{container.subtype}">Container Subtype</label>
                    
                    <div class="col-lg-9">
                        <select th:field="*{subtypeId}" class="form-control">
                            <option th:each="subtype : ${containerSubtypes}"
                                    th:value="${subtype.id}"
                                    th:text="${subtype.name}">Container Subtype Name
                            </option>
                        </select>
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-lg-3 control-label" th:text="#{container.yard}">Owner</label>

                    <div class="col-lg-9">
                        <select th:field="*{yardId}" class="form-control">
                            <option th:each="location : ${locations}"
                                    th:value="${location.id}"
                                    th:text="${location.name}">Location Name
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <input type="submit" name="add" value="Add Container" class="btn btn-default"
                               th:value="#{container.add}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
