<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">
    <form action="/account/uid" method="POST" class="form-horizontal center"
          th:object="${account}" th:action="'/account/' + *{uid}">

        <div class="form-group" th:classappend="${#fields.hasErrors('uid')} ? 'has-error'">
            <label class="col-lg-3 control-label" th:text="#{account.uid}">Account UID</label>

            <div class="col-lg-9"><p class="form-control-static" th:text="*{uid}" />

            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{uid}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('surname')} ? 'has-error'">
            <label class="col-lg-3 control-label" th:text="#{surname}">Surnmae</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{surname}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{surname}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('givenName')} ? 'has-error'">
            <label class="col-lg-3 control-label" th:text="#{given.name}">Given Name</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{givenName}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{givenName}">error</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
            <label class="col-lg-3 control-label" th:text="#{email}">Email</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{email}" class="form-control"/>
            </div>

            <div class="col-lg-offset-3 col-lg-9">
                <span th:errors="*{email}">error</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label" th:text="#{group}">Group</label>

            <div class="col-lg-9">
                <select th:field="*{group}" class="form-control">
                    <option th:each="groupType : ${groupTypes}"
                            th:value="${groupType.type}"
                            th:text="#{${groupType.i18nKey}}">Department Name
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <input type="submit" name="apply" value="Apply" class="btn btn-default"
                       th:value="#{update}"/>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
