<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="m" class="container" >
    <div th:include="layout :: alert"/>
</div><!-- /.container -->

<div id="m" class="container">
    <h3><span th:text="#{account}"></span></h3>    

    <form method="POST" th:action="'/account/' + *{uid}" th:object="${user}" sec:authorize="hasRole('ROLE_ADMIN')">
        <hr />
        <button th:if="*{enabled}" type="submit" name="action" value="lock" class="btn btn-danger btn-sm"><span th:text="#{disable}"></span></button>
        <button th:unless="*{enabled}" type="submit" name="action" value="unlock" class="btn btn-success btn-sm"><span th:text="#{enable}"></span></button>
    </form>        
</div><!-- /.container -->

<div id="m" class="container">
    <form method="POST" th:action="'/account/' + *{uid}" th:object="${user}">
        <hr />
        <div class="row">
            <div class="form-group col-xs-6">
                <label th:text="#{account.uid}">Account UID</label>
                <input type="text" th:field="*{uid}" class="form-control input-sm" disabled="disabled"/>
            </div>
            <div class="form-group col-xs-6" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                <label th:text="#{email}">Email</label>
                <input type="text" th:field="*{email}" class="form-control input-sm"/>
                <div><span th:errors="*{email}">error</span></div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6" th:classappend="${#fields.hasErrors('surname')} ? 'has-error'">
                <label th:text="#{surname}">Surnmae</label>
                <input type="text" th:field="*{surname}" class="form-control input-sm"/>
                <div><span th:errors="*{surname}">error</span></div>
            </div>
            <div class="form-group col-xs-6" th:classappend="${#fields.hasErrors('givenName')} ? 'has-error'">
                <label th:text="#{given.name}">Given Name</label>
                <input type="text" th:field="*{givenName}" class="form-control input-sm"/>
                <div><span th:errors="*{givenName}">error</span></div>
            </div>            
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                <label th:text="#{cell}">Cell</label>
                <input type="text" th:field="*{cell}" class="form-control input-sm"/>
            </div>
            <div class="form-group col-xs-6">
                <label th:text="#{phone}">phone</label>
                <input type="text" th:field="*{phone}" class="form-control input-sm"/>
            </div>            
        </div>       

        <input type="hidden" th:field="*{enabled}"/>
        <button type="submit" name="action" value="changeProfile" class="btn btn-success btn-sm"><span th:text="#{save}"></span></button>
    </form>
</div><!-- /.container -->

<div id="m" class="container" sec:authorize="hasRole('ROLE_ADMIN')">
    <hr/>
    <form method="POST" th:action="'/account/' + *{uid}" th:object="${user}">
        <div class="row">
            <div class="form-group col-xs-6">
                <select th:field="*{group}" class="form-control input-sm">
                    <option th:each="g : ${groups}"
                            th:value="${g.id}"
                            th:text="${g.name}">Department Name
                    </option>
                </select>
            </div>
        </div>
        <button type="submit" name="action" value="assignToGroup" class="btn btn-success btn-sm"><span th:text="#{save}"></span></button>        
    </form>        
</div><!-- /.container -->

<div id="m" class="container">
    <hr/>
    <form method="POST" th:object="${passwordChange}" th:action="'/account/' + *{uid}">
        <div class="row">
            <div class="form-group col-xs-6">
                <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="form-group" th:classappend="${#fields.hasErrors('oldPassword')} ? 'has-error'">
                    <label th:text="#{old.password}">Account Password</label>
                    <input type="password" th:field="*{oldPassword}" class="form-control input-sm"/>
                    <span th:errors="*{oldPassword}">error</span>
                </div>          

                <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error'">
                    <label th:text="#{new.password}">Account Password</label>
                    <input type="password" th:field="*{newPassword}" class="form-control input-sm"/>
                    <span th:errors="*{newPassword}">error</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('newPassword2')} ? 'has-error'">
                    <label th:text="#{new.password2}">Account Password 2</label>
                    <input type="password" th:field="*{newPassword2}" class="form-control input-sm"/>
                    <span th:errors="*{newPassword2}">error</span>
                </div>
                <button th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" type="submit" name="action" value="changePassword" class="btn btn-success btn-sm">
                    <span th:text="#{password.change}"></span>
                </button>
                <button th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" type="submit" name="action" value="resetPassword" class="btn btn-success btn-sm">
                    <span th:text="#{password.reset}"></span>
                </button>                 
            </div>
        </div>  
    </form>        
</div><!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
