<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br />

<div class="container">
    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(accounts)}">
        <thead>
        <tr>
            <th th:text="#{account.uid}">Account ID</th>
            <th th:text="#{group}">Account Group</th>
            <th th:text="#{email}">Email</th>
            <th th:text="#{account.locked}">Locked</th>
            <th th:text="#{edit}">Edit</th>
            <th th:text="#{password.reset}">Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.uid}">Account ID</td>
            <td th:text="#{'role.' + ${account.group}}">Account Group</td>
            <td th:text="${account.email}">Email</td>
            <td>
                <a th:if="${account.pwdAccountLockedTime}" th:href="'/account/' + ${account.uid} + '?action=unlock'"
                   class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-lock"/>
                </a>
                <a th:unless="${account.pwdAccountLockedTime}" th:href="'/account/' + ${account.uid} + '?action=lock'"
                   class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-ok"/>
                </a>
            </td>
            <td>
                <a th:href="'/account/' + ${account.uid}"
                   class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-pencil"/>
                </a>
            </td>
            <td>
                <a th:href="'/account/password/' + ${account.uid}"
                   class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-cog"/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div><!-- container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
