<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br />

<div class="container">
    <div th:if="${alert}" class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span th:text="${alert}">Alert</span>
    </div>
</div>

<div id="f" class="container">
    <form method="POST"
          th:object="${passwordChange}" th:action="'/account/password' + (${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? '/' + *{uid} : '')">
          
        <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="form-group" th:classappend="${#fields.hasErrors('oldPassword')} ? 'has-error'">
            <label th:text="#{old.password}">Account Password</label>
            <input type="password" th:field="*{oldPassword}" class="form-control input-sm"/>
            <span th:errors="*{oldPassword}">error</span>
        </div>          

        <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error'">
            <label th:text="#{new.password}">Account Password</label>
            <input type="password" th:field="*{newPassword}" class="form-control input-sm"/>
            <span th:errors="*{newPassword}">error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('newPassword2')} ? 'has-error'">
            <label th:text="#{new.password2}">Account Password 2</label>
            <input type="password" th:field="*{newPassword2}" class="form-control input-sm"/>
            <span th:errors="*{newPassword2}">error</span>
        </div>

        <input type="submit" name="apply" value="Apply" class="btn btn-success btn-block btn-sm" th:value="#{update}"/>
        <span th:if="${done}" class="glyphicon glyphicon-ok"/>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
