<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div th:include="allocation/template :: console-header"></div>

<div class="container" id="t">
    <form th:action="'/task/' + ${taskId} + '/allocation/enter'" method="POST" class="form-horizontal center" th:object="${containers}">
        <div th:include="container/template :: table-input" />
        
        <div class="row">
            <div class="col-xs-3 pull-right">
                <input type="hidden" th:field="*{routeId}" />
                <button class="btn btn-success btn-block btn-sm" type="submit" name="self"><i class="glyphicon glyphicon-arrow-down"/></button>
            </div>
        </div>        
    </form>
</div>

<div th:include="allocation/template :: console-separator"></div>

<div th:include="allocation/template :: console-result"></div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>

