<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">
    <br/>
    <ul class="nav nav-tabs">
        <li class="active" th:class="${tab} == 'detail' ? 'active'">
            <a th:href="'/recv_order/' + ${order.id} + '/detail'" th:text="#{order.detail}">Order Detail</a></li>
        <li class="active" th:class="${tab} == 'task' ? 'active'">
            <a th:href="'/recv_order/' + ${order.id} + '/task'" th:text="#{task}">Task</a></li>
        <li class="active" th:class="${tab} == 'charge' ? 'active'">
            <a th:href="'/recv_order/' + ${order.id} + '/charge'" th:text="#{charge}">Charge</a></li>
    </ul>
</div>
<!-- /.container -->

<div class="container">
    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(charges)}">
        <thead>
        <tr>
            <th th:text="#{charge.id}">ID</th>
            <th th:text="#{charge.type}">Type</th>
            <th th:text="#{charge.way}">Way</th>
            <th th:text="#{charge.unit.price}">Unit Price</th>
            <th th:text="#{charge.total.price}">Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="charge : ${charges}">
            <td th:text="${charge.id}">ID</td>
            <td th:text="${cts[charge.type]}">Type</td>
            <td th:text="#{${chargeWays[__${charge.way}__].i18nKey}}">Way</td>
            <td th:text="${charge.unitPrice}">Unit Price</td>
            <td th:text="${charge.totalPrice}">Total Price</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
