<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<!-- order bar -->
<div class="container">
    <form action="/recv_order" method="GET" class="form-inline">
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon"
                      th:text="#{order.receiving} + ' (' + #{order.no} + ', ' + #{customer.name} + ')'">Receiving Order</span>

                <input type="text" class="form-control" id="param" name="param" placeholder="ID or Customer Name"/>

                <span class="input-group-btn">
                    <button type="submit" name="findByOrderNo" value="Find Orders By No" class="btn btn-default"
                            th:text="#{order.find.by.no}"/>
                    <button type="submit" name="findByCustomerName" value="Find Orders By Customer Name"
                            class="btn btn-default"
                            th:text="#{order.find.by.customer.name}"/>
                    <button type="submit" name="add" value="Create Order" class="btn btn-default"
                            th:text="#{order.create}"/>
                </span>
            </div>
            <!-- /.input-group -->
        </div>
        <!-- /.col-lg-8 -->
    </form>
</div>
<!-- /.container -->

<br/>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped table-hover table-condensed table-16"
                   th:unless="${#lists.isEmpty(orders)}">
                <thead>
                <tr>
                    <th th:text="#{order.no}">Order No</th>
                    <th th:text="#{customer.name}">Customer Name</th>
                    <th th:text="#{origination}">Origin</th>
                    <th th:text="#{destination}">Destination</th>
                    <th th:text="#{goods.name}">Cargo Name</th>
                    <th th:text="#{goods.weight}">Cargo Weight</th>
                    <th th:text="#{container.type}">Container Type</th>
                    <th th:text="#{container.capacity}">Container Capacity</th>
                    <th th:text="#{container.quantity}">Container Quantity</th>
                    <th th:text="#{price}">Price</th>
                    <th th:text="#{extra.expense}">Extra Expense</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td>
                        <a href="/recv_order/id?action=edit" th:href="'/recv_order/' + ${order.id}"
                           th:text="${order.orderNo}"/>
                    </td>
                    <td th:text="${order.customer.name}">Customer Name</td>
                    <td th:text="${order.srcLoc.name}">Origin</td>
                    <td th:text="${order.dstLoc.name}">Destination</td>
                    <td th:text="${order.goods.name}"></td>
                    <td th:text="${order.goodsWeight}">Cargo Weight</td>
                    <td th:text="#{${containerTypes[__${order.containerType}__].i18nKey}}">Container Type</td>
                    <td th:text="${containerCaps[__${order.containerCap}__].name}">Container Capacity</td>
                    <td th:text="${order.containerQty}">Container Quantity</td>
                    <td th:text="${order.salesPriceCny}">Price</td>
                    <td th:text="${order.extExp}">Extra Expense</td>
                    <td>
                        <a href="/recv_order/id?action=edit" class="btn btn-default btn-xs"
                           th:href="'/recv_order/' + ${order.id + '?action=edit'}" th:if="${order.status} != 2">
                            <i class="glyphicon glyphicon-edit"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
