<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
        div#order.container {
        max-width: 900px;
        }
    </style>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="order" class="container">
<form id="orderForm" action="/recv_order" method="POST" th:object="${order}" class="center">
<div class="row">
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" th:if="${order.id}">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label th:text="#{order.id}">Order ID</label>
                        <input type="text" th:field="*{id}" class="form-control" readonly="readonly"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label th:text="#{customer}">Customer</label>
                        <select th:field="*{customerId}" class="form-control">
                            <option th:each="customer : ${customers}"
                                    th:value="${customer.id}"
                                    th:text="${customer.name}">Customer Name
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" th:classappend="${#fields.hasErrors('consignee')} ? 'has-error'">
                        <label th:text="#{consignee} + ' *'">Consignee</label>
                        <input type="text" th:field="*{consignee}" class="form-control"/>

                        <span th:errors="*{consignee}">error</span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group" th:classappend="${#fields.hasErrors('consigneePhone')} ? 'has-error'">
                        <label th:text="#{consignee.phone} + ' *'">Consignee</label>
                        <input type="text" th:field="*{consigneePhone}" class="form-control"/>

                        <span th:errors="*{consigneePhone}">error</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" th:classappend="${#fields.hasErrors('consigneeAddress')} ? 'has-error'">
                        <label th:text="#{consignee.address} + ' *'">Consignee Address</label>
                        <input type="text" th:field="*{consigneeAddress}" class="form-control"/>

                        <span th:errors="*{consigneeAddress}">error</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label th:text="#{origination} + ' *'">Origin</label>
                        <select th:field="*{origination}" class="form-control">
                            <option th:each="location : ${locations}"
                                    th:value="${location.id}"
                                    th:text="${location.name}">Location Name
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label th:text="#{destination} + ' *'">Destination</label>
                        <select th:field="*{destination}" class="form-control">
                            <option th:each="location : ${locations}"
                                    th:value="${location.id}"
                                    th:text="${location.name}">Location Name
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label th:text="#{goods}">Cargo</label>
                        <select th:field="*{goodsId}" class="form-control">
                            <option th:each="goods : ${cargos}"
                                    th:value="${goods.id}"
                                    th:text="${goods.name}">Cargo Name
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group" th:classappend="${#fields.hasErrors('cargoWeight')} ? 'has-error'">
                        <label th:text="#{goods.weight.with.unit}">Cargo Weight</label>
                        <input type="text" th:field="*{cargoWeight}" class="form-control"/>

                        <span th:errors="*{cargoWeight}">error</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" th:classappend="${#fields.hasErrors('salesPrice')} ? 'has-error'">
                        <label th:text="#{price.with.unit}">Price</label>
                        <input type="text" th:field="*{salesPrice}" class="form-control"/>

                        <span th:errors="*{salesPrice}">error</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label th:text="#{extra.expense.with.unit}">Extra Expense</label>
                        <input type="text" th:field="*{extExp}" class="form-control"/>

                        <span th:errors="*{extExp}">error</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label th:text="#{extra.expense.comment}">Ext Exp Comments</label>
                        <input type="text" th:field="*{extExpComment}" class="form-control"/>

                        <span th:errors="*{extExpComment}">error</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#column1 -->

<!-- second column -->
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label th:text="#{container.type}">Container Type</label>
                        <ul class="list-inline">
                            <li th:each="containerType : ${containerTypes}">
                                <input type="radio"
                                       th:field="*{containerType}"
                                       th:value="${containerType.type}"/>
                                <label th:for="${#ids.prev('containerType')}"
                                       th:text="#{${containerType.i18nKey}}">Container Type</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label th:text="#{container.capacity}">Container Capacity</label>
                        <ul class="list-inline">
                            <li th:each="capacity : ${containerCaps}">
                                <input type="radio"
                                       th:field="*{containerCap}" th:value="${capacity.type}"/>
                                <label th:for="${#ids.prev('containerCap')}"
                                       th:text="${capacity.name}">Container Capacity</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" th:classappend="${#fields.hasErrors('containerQty')} ? 'has-error'">
                        <label th:text="#{container.quantity} + ' *'">Container Quantity</label>
                        <input type="text" th:field="*{containerQty}" class="form-control"/>

                        <span th:errors="*{containerQty}">error</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{container.list}">Container List</span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"
                                        name="addContainer">
                                    <i class="glyphicon glyphicon-plus"/>
                                </button>
                            </span>
                        </div>

                        <br/>

                        <ul class="list-group">
                            <li class="list-group-item" th:each="bicCode,rowStat : *{bicCodes}">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           th:field="*{bicCodes[__${rowStat.index}__]}"
                                           th:classappend="${#fields.hasErrors('bicCodes[__${rowStat.index}__]')}? 'fieldError'"/>
                                    <span class="input-group-btn">
                                        <button type="submit" name="removeContainer" class="btn btn-default"
                                                th:value="${rowStat.index}">
                                            <i class="glyphicon glyphicon-minus"/>
                                        </button>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /#column2 -->

<br/>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <input type="submit" name="save" value="Save Order" class="btn btn-default"
               th:attr="value=#{order.save}"/>
        <input type="submit" name="submit" value="Submit Order" class="btn btn-default"
               th:attr="value=#{order.submit}"/>
    </div>
</div>
</form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
