<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="layout :: task-bar"/>
<!-- {!end task bar} -->

<div class="container">
    <form action="/task/{taskId}/vessel/{containerId}" method="POST" class="form-horizontal center"
          th:object="${container}" th:action="'/task/' + ${taskId} + '/vessel/' + ${container.id}">

        <div class="form-group">
            <label class="col-lg-3 control-label" th:text="#{container.no}">BIC Code</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{sc.container.bicCode}" class="form-control" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('bolNo')} ? 'has-error'"
             sec:authorize="hasRole('ROLE_OPERATING')">
            <label class="col-lg-3 control-label" th:text="#{bol.no}">BOL No.</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{bolNo}" class="form-control"/>
            </div>

            <span th:errors="*{bolNo}">error</span>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_OPERATING')">
            <label class="col-lg-3 control-label" th:text="#{slot}">BOL No.</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{slot}" class="form-control"/>
            </div>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_OPERATING')">
            <label class="col-lg-offset-3 col-lg-9" th:text="#{day.pattern}"/>
        </div>

        <div class="form-group" sec:authorize="hasRole('ROLE_OPERATING')">
            <label class="col-lg-3 control-label" th:text="#{shipping.ets}">Barge ETS</label>

            <div class="col-lg-9">
                <input type="text" th:field="*{etsStr}" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" th:field="*{batch}"/> <span th:text="#{batch}">Batch</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <input type="submit" name="save" value="Save Time" class="btn btn-default"
                       th:value="#{save}"/>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include=" layout :: footer"/>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
