<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/resources/jquery-ui-1.10.3/themes/base/jquery.ui.all.css"></link>
   	<script src="/resources/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
	<script src="/resources/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
	<script src="/resources/js/bootstrap-3.0.0.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
    
	<style>
	.ui-autocomplete-loading {
		background: white url('/resources/jquery-ui-1.10.3/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat;
	}
	#city { width: 25em; }	
	
	    div#test.container {
            max-width: 800px;
        }
	</style>
	<script>
	/*<![CDATA[*/
	$(function() {
		function log( message ) {
			$( "<div>" ).text( message ).prependTo( "#log" );
			$( "#log" ).scrollTop( 0 );
		}

		$( "#city" ).autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/api/customer?name=" + request.term,
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label: item.name + item.id,
								value: item.name
							}
						}));
					}
				});
			},
			minLength: 2,
			select: function( event, ui ) {
				log( ui.item ?
					"Selected: " + ui.item.label :
					"Nothing selected, input was " + this.value);
			},
			open: function() {
				$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
		});
	});
	/*]]>*/
	</script>
</head>
<body>

<div id="test" class="container">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
	                <label for="city" >Your city: </label>
	                <input id="city" class="form-control" />
	            </div>
	        </div>
	    </div>
	</form>
</div>
</body>
</html>
