<!DOCTYPE html>
<html lang="en">
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<div class="container">
    <h1>Customer</h1>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
            </div>
            
            <div class="col-lg-6">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email" />
            </div>
        </div><!-- row -->
    
        <input type="hidden" id="cId"/>
        
        <div class="row">
            <div class="col-lg-6">
                <label>Customer ID</label>
                <input class="form-control input-sm" id="customerName0" type="text" placeholder="customer name"/>
            </div>
            
            <div class="col-lg-6">
                <label>Customer ID</label>
                <input class="form-control input-sm" id="customerName1" type="text" placeholder="customer name"/>
            </div>            
        </div><!-- row -->
    </form>
</div>

<script src="/resources/jquery/jquery.js"></script>
<script src="/resources/bootstrap/js/bootstrap.js"></script>
<script src="/resources/typeahead/typeahead.bundle.js"></script>
<script src="/resources/handlebars/handlebars.js"></script>
<script>
$(document).ready(function() {

var customer = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,  
  limit: 10,
  remote: '/api/customer?name=%QUERY'
});

customer.initialize();

$('#customerName0').typeahead(null, {
  name: 'customer',
  displayKey: 'name',
  source: customer.ttAdapter(),
  templates: {
    suggestion: Handlebars.compile('<p><strong>{{name}}</strong> – {{code}}</p>')
  }  
}).on('typeahead:selected', function (obj, datum) {
    $('#cId').val(datum.id);
});
$(".tt-hint").addClass("form-control");
});    

</script>
</body>
</html>

