<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>   
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="f" class="container">
    <h3><span th:text="#{exchange.rate}"></span></h3>
    
    <hr />

    <form action="/charge/exchange_rate" method="POST" role="form" th:object="${exchangeRate}">

        <div class="form-group" th:classappend="${#fields.hasErrors('value')} ? 'has-error'">
            <label class="sr-only" for="value">Value</label>
            <input type="text" class="form-control" id="value" placeholder="0.00" th:field="*{value}"/>
        </div>
        <button type="submit" class="btn btn-success btn-block" name="apply" value="Apply">
            <span th:text="#{apply}">Apply</span>
        </button>
        <span th:if="${done}" class="glyphicon glyphicon-ok"/>
        <br/>
        <span th:errors="*{value}">error</span>
    </form>
</div><!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
