<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>

<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<!-- {!begin layout} -->
<div th:include="chargeTemplate :: overview"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="chargeTemplate :: list"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
