<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1">
            <h3><span th:text="#{charge.payable}"></span></h3>
        </div>  
            
        <div class="col-xs-3 pull-right">     
            <div th:include="layout :: search-bar" />
        </div>
    </div><!-- row -->
</div><!-- /.container -->

<hr />

<div class="container-fluid">        
    <table class="table table-striped table-hover table-condensed table-bordered table-16"
           th:unless="${#lists.isEmpty(page.content)}">
        <thead>
        <tr>
            <th th:text="#{charge.id}">ID</th>
            <th th:text="#{order.no}">Order No.</th>
            <th th:text="#{create.time}">Create Time</th>
            <th th:text="#{bol.no}">BOL No.</th>
            <th th:text="#{container.quantity}">Container Quantity</th>
            <th th:text="#{container.no}">Container Quantity</th>                
            <th th:text="#{charge.type}">Type</th>
            <th th:text="#{sp.name}">SP Name</th>
            <th th:text="#{charge.way}">Way</th>
            <th th:text="#{charge.unit.price} + '(CNY)'">Unit Price</th>
            <th th:text="#{charge.unit.price} + '(USD)'">Unit Price</th>
            <th th:text="#{finance.payable.sum}">Payable SUM</th>
            <th th:text="#{finance.payable.balance}">Payable Balance</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="charge : ${page.content}">
            <td th:text="${charge.id}">ID</td>
            <td th:text="${charge.order.orderNo}">Order No.</td>
            <td th:text="${charge.order.createTime}"></td>
            <td></td>
            <td th:text="${charge.order.containerQty}">Container Quantity</td>
            <td></td>
            <td th:text="${charge.serviceSubtype.name}">Type</td>
            <td th:text="${charge.sp} ? ${charge.sp.name}">SP Name</td>
            <td th:text="#{${chargeWays[__${charge.way}__].i18nKey}}">Way</td>
            <td th:text="${charge.unitPrice}">Unit Price</td>
            <td></td>
            <td th:text="${charge.totalPrice}">Total Price</td>
            <td></td>
            <td>
                <a th:if="${charge.status} == 0" th:href="'/charge/' + ${charge.id}"><i class="glyphicon glyphicon-credit-card text-success"/></a>
                <span th:if="${charge.status} == 1"><i class="glyphicon glyphicon-check"/></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="pagination_bar" class="text-center">
    <ul class="pagination">
        <li>
            <a href="/charge/payable?number=0">&laquo;</a>
        </li>
        <li><a th:if="${page.hasPreviousPage()}"
               th:href="'/charge/payable?number=' + ${page.number - 1}"
               th:text="${page.number}">1</a></li>
        <li><a href="" th:text="${page.number + 1}">2</a></li>
        <li><a th:if="${page.hasNextPage()}"
               th:href="'/charge/payable?number=' + ${page.number + 1}"
               th:text="${page.number + 2}">3</a></li>
        <li><a th:href="'/charge/payable?number=' + ${page.totalPages - 1}">&raquo;</a>
        </li>
    </ul>
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
