<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1">
            <h3><span th:text="#{charge.receivable}"></span></h3>
        </div>  
            
        <div class="col-xs-6 pull-right">     
            <br />
            <form method="GET" class="form-inline pull-right" role="form" th:action="${searchBarForm.action}" th:object="${searchBarForm}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{type}"/>            
                <div class="input-group input-group-sm date" id="startPicker">
                    <span class="input-group-addon" th:text="#{start.date}">Start Date</span>
                    <input type="text" data-date-format="YYYY-MM-DD" class="form-control input-sm" th:field="*{startDate}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                
                <div class="input-group input-group-sm date" id="endPicker">
                    <span class="input-group-addon" th:text="#{end.date}">End Date</span>
                    <input type="text" data-date-format="YYYY-MM-DD" class="form-control input-sm" th:field="*{endDate}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>                
                                    
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" th:field="*{text}" />
                    
                    <span class="input-group-btn">                    
                        <button type="submit" name="search" class="btn btn-primary"><i class="glyphicon glyphicon-search" /></button>
                    </span>
                </div>             
            </form>          
        </div>
    </div><!-- row -->
</div><!-- /.container -->

<hr />

<div class="container-fluid">

        <!-- {!begin layout} -->
        <div th:include="layout :: charge-tab"></div>
        <!-- {!end layout} -->

        <table class="table table-striped table-hover table-condensed table-bordered table-16">
            <thead>
            <tr>
                <th th:text="#{order.no}">Order No.</th>
                <th th:text="#{create.time}">Create Time</th>
                <th th:text="#{customer.name}">Customer Name</th>
                <th th:text="#{origination}">Origin</th>
                <th th:text="#{destination}">Destination</th>
                <th th:text="#{rail.destination}">Destination Station</th>
                <th th:text="#{goods.name}">Cargo Name</th>
                <th th:text="#{trade.type}">Trade Type</th>
                <th th:text="#{bol.no}">BOL No.</th>
                <th th:text="#{container.quantity}">Container Quantity</th>
                <th th:text="#{container.no}">Container Quantity</th>
                <th th:text="#{finance.receivable} + '(CNY)'">Receivable CNY</th>
                <th th:text="#{finance.receivable} + '(USD)'">Receivable USD</th>
                <th th:text="#{finance.receivable.sum} + '(' + ${exchangeRate} + ')'">Receivable SUM</th>
                <th th:text="#{finance.received.in.advance.time}">Received in advance time</th>
                <th th:text="#{finance.receivable.balance}">Receivable Balance</th>
                <th><span th:text="#{finance.invoice.balance}">Invoice Balance CNY</span>(CNY)</th>
                <th><span th:text="#{finance.invoice.balance}">Invoice Balance USD</span>(USD)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="receivable : ${page.content}">
                <td>
                    <a th:href="'/order/' + ${receivable.order.id} + '/receivable'"><i class="glyphicon glyphicon-briefcase text-success"/></a>
                    &nbsp;
                    <a th:href="'/charge/order/' + ${receivable.order.id}" th:text="${receivable.order.orderNo}"/>
                </td>
                <td th:text="${receivable.order.createdAt}"></td>
                <td>
                    <a th:href="'/order/' + ${receivable.order.id} + '/receivable'"><i class="glyphicon glyphicon-briefcase text-success"/></a>
                    &nbsp;
                    <span th:text="${receivable.order.customerName}" />
                </td>
                <td th:text="${receivable.order.origination}">Origin</td>
                <td th:text="${receivable.order.destination}">Destination</td>
                <td th:text="${receivable.order.railDestination}">Rail Destination</td>
                <td th:text="${receivable.order.goodsName}"></td>
                <td th:text="#{${tradeTypes[__${receivable.order.tradeType}__].i18nKey}}">Trade Type</td>
                <td></td>
                <td th:text="${receivable.order.containerQuantity}">Container Quantity</td>
                <td></td>
                <td class="text-right" th:text="${receivable.cny}">Receivable CNY</td>
                <td class="text-right" th:text="${receivable.usd}">Receivable USD</td>
                <td class="text-right" th:text="${receivable.cny + receivable.usd * exchangeRate}">Receivable SUM</td>
                <td></td>
                <td class="text-right" th:text="${receivable.cny + receivable.usd * exchangeRate - receivable.paidCny - receivable.paidUsd * exchangeRate}">Receivable Balance</td>
                <td class="text-right" th:text="${receivable.cny - receivable.invoicedCny}">Invoice Balance CNY</td>
                <td class="text-right" th:text="${receivable.usd - receivable.invoicedUsd}">Invoice Balance USD</td>
            </tr>
            </tbody>
        </table>
    <div th:include="layout :: pagination_bar"></div>        
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

<script>
/*<![CDATA[*/
    $(document).ready(function() {
        var dataset = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,  
            limit: 10,
            remote: {
                url: '/api/order?text=%QUERY'
            }
        });
        
        dataset.initialize();

        $('#text').typeahead(null, {
          displayKey: 'text',
          source: dataset.ttAdapter(),
          templates: {
            suggestion: Handlebars.compile('<p><strong>{{text}}</strong></p>')
          }
        }).on('typeahead:selected', function (obj, datum) {
            $('#id').val(datum.id);
            $('#type').val(datum.type);
        });    
        
        $(".tt-hint").addClass("form-control");
        $('#startPicker').dtPicker();
        $('#endPicker').dtPicker();        
    }); // ready end
/*]]>*/
</script>
</body>

</html>
