<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1">
            <h3><span th:text="#{charge.receivable}"></span></h3>
        </div>  
            
        <div class="col-xs-3 pull-right">     
            <div th:include="layout :: search-bar" />
        </div>
    </div><!-- row -->
</div><!-- /.container -->

<hr />

<div class="container-fluid">

        <!-- {!begin layout} -->
        <div th:include="layout :: charge-tab"></div>
        <!-- {!end layout} -->

        <table class="table table-striped table-hover table-condensed table-bordered table-16">
            <thead>
            <tr>
                <th th:text="#{order.no}">Order No.</th>
                <th th:text="#{create.time}">Create Time</th>
                <th th:text="#{customer.name}">Customer Name</th>
                <th th:text="#{origination}">Origin</th>
                <th th:text="#{destination}">Destination</th>
                <th th:text="#{rail.destination}">Destination Station</th>
                <th th:text="#{goods.name}">Cargo Name</th>
                <th th:text="#{trade.type}">Trade Type</th>
                <th th:text="#{bol.no}">BOL No.</th>
                <th th:text="#{container.quantity}">Container Quantity</th>
                <th th:text="#{container.no}">Container Quantity</th>
                <th th:text="#{finance.receivable} + '(CNY)'">Receivable CNY</th>
                <th th:text="#{finance.receivable} + '(USD)'">Receivable USD</th>
                <th th:text="#{finance.receivable.sum} + '(' + ${exchangeRate} + ')'">Receivable SUM</th>
                <th th:text="#{finance.received.in.advance.time}">Received in advance time</th>
                <th th:text="#{finance.receivable.balance}">Receivable Balance</th>
                <th th:text="#{finance.invoice.balance.cny}">Invoice Balance CNY</th>
                <th th:text="#{finance.invoice.balance.usd}">Invoice Balance USD</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${page.content}">
                <td>
                    <a href="/charge/order/{orderId}" th:href="'/charge/order/' + ${order.id}"
                       th:text="${order.orderNo}"/>
                </td>
                <td th:text="${order.createdAt}"></td>
                <td th:text="${order.customerName}">Customer Name</td>
                <td th:text="${order.origination}">Origin</td>
                <td th:text="${order.destination}">Destination</td>
                <td th:text="${order.railDestination}">Rail Destination</td>
                <td th:text="${order.goodsName}"></td>
                <td th:text="#{${tradeTypes[__${order.tradeType}__].i18nKey}}">Trade Type</td>
                <td></td>
                <td th:text="${order.containerQuantity}">Container Quantity</td>
                <td></td>
                <td th:text="${order.receivableSummary} ? ${order.receivableSummary.cny} : ''">Receivable CNY</td>
                <td th:text="${order.receivableSummary} ? ${order.receivableSummary.usd} : ''">Receivable USD</td>
                <td th:text="${order.receivableSummary} ? ${order.receivableSummary.cny + order.receivableSummary.usd * exchangeRate} : ''">Receivable SUM</td>
                <td></td>
                <td th:text="${order.receivableSummary} ? ${order.receivableSummary.remainingBalanceCny + order.receivableSummary.remainingBalanceUsd * exchangeRate} : ''">Receivable Balance</td>
                <td th:text="${order.receivableSummary} ? ${order.receivableSummary.remainingBalanceCny} : ''">Invoice Balance CNY</td>
                <td th:text="${order.receivableSummary} ? ${order.receivableSummary.remainingBalanceUsd} : ''">Invoice Balance USD</td>
                <td>
                    <a th:href="'/receivable/' + ${order.id}"><i class="glyphicon glyphicon-briefcase text-success"/></a>
                </td>
            </tr>
            </tbody>
        </table>
    <div th:include="layout :: pagination_bar"></div>        
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
