<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1">
            <h3><span th:text="#{charge.summary}"></span></h3>
        </div>  
            
        <div class="col-xs-6 pull-right">     
            <div th:include="layout :: enhanced-search-bar"></div>
        </div>
    </div><!-- row -->
</div><!-- /.container -->

<hr />

<div class="container-fluid">
    <table class="table table-striped table-hover table-condensed table-bordered table-16">
        <thead>
        <tr>
            <th th:text="#{order.no}">Order No.</th>
            <th th:text="#{create.time}">Create Time</th>
            <th th:text="#{customer.name}">Customer Name</th>
            <th th:text="#{origination}">Origin</th>
            <th th:text="#{destination}">Destination</th>
            <th th:text="#{rail.destination}">Destination Station</th>
            <th th:text="#{goods.name}">Cargo Name</th>
            <th th:text="#{trade.type}">Trade Type</th>
            <th th:text="#{bol.no}">BOL No.</th>
            <th th:text="#{container.quantity}">Container Quantity</th>
            <th th:text="#{container.no}">Container Quantity</th>
            <th th:text="#{tax.cost}">Tax Cost</th>
            <th th:text="#{finance.receivable} + '(CNY)'">Receivable CNY</th>
            <th th:text="#{finance.receivable} + '(USD)'">Receivable USD</th>
            <th th:text="#{finance.receivable.sum} + '(' + ${exchangeRate} + ')'">Receivable SUM</th>
            <th><span th:text="#{disty.price}">Disty Price</span><span>(CNY)</span></th>
            <th><span th:text="#{disty.price}">Disty Price</span><span>(USD)</span></th>
            <th th:text="#{grand.total}">Grand Total</th>
            <th th:text="#{gross.margin}">Gross Margin</th>
            <th th:text="#{sales.profit}">Sales Profit</th>
            <th th:text="#{disty.profit}">Disty Profit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="receivable : ${page}">
            <td>
                <a th:href="'/charge/order/' + ${receivable.orderId}"
                   th:text="${receivable.orderNo}"/>
            </td>
            <td th:text="${receivable.createdAt}"></td>
            <td th:text="${receivable.customerName}">Customer Name</td>
            <td th:text="${receivable.origination}">Origin</td>
            <td th:text="${receivable.destination}">Destination</td>
            <td th:text="${receivable.railDestination}">Rail Destination</td>
            <td th:text="${receivable.goodsName}"></td>
            <td th:text="#{${tradeTypes[__${receivable.tradeType}__].i18nKey}}">Trade Type</td>
            <td></td>
            <td class="text-right"><span th:text="${receivable.containerQuantity}">Container Quantity</span></td>
            <td></td>
            <td></td>
            <td class="text-right"><span th:text="${receivable.cny}">Receivable CNY</span></td>
            <td class="text-right"><span th:text="${receivable.usd}">Receivable USD</span></td>
            <td class="text-right"><span th:text="${receivable.cny + receivable.usd * exchangeRate}">Receivable SUM</span></td>
            <td class="text-right"><span th:text="${receivable.distyPrice}">Disty Price</span></td>
            <td class="text-right"><span th:text="${receivable.distyUsd}">Disty Usd</span></td>
            <td class="text-right"><span th:text="${receivable.grandTotal}">Grand Total</span></td>
            <td class="text-right"><span th:text="${receivable.cny + receivable.usd * exchangeRate - receivable.grandTotal}">Gross Margin</span></td>
            <td class="text-right"><span th:text="${receivable.cny + receivable.usd * exchangeRate - receivable.distyPrice}">Sales Profit</span></td>
            <td class="text-right"><span th:text="${receivable.distyPrice - receivable.grandTotal}">Disty Profit</span></td>
        </tr>
        <tr>
            <td><strong><span th:text="#{total}">Sum</span></strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><span th:text="${page.sum.containerQuantity}">Container Quantity</span></td>
            <td></td>
            <td></td>
            <td class="text-right"><span th:text="${page.sum.cny}">Receivable CNY</span></td>
            <td class="text-right"><span th:text="${page.sum.usd}">Receivable USD</span></td>
            <td class="text-right"><span th:text="${page.sum.cny + page.sum.usd * exchangeRate}">Receivable SUM</span></td>
            <td class="text-right"><span th:text="${page.sum.distyPrice}">Disty Price</span></td>
            <td class="text-right"><span th:text="${page.sum.distyUsd}">Disty Usd</span></td>
            <td class="text-right"><span th:text="${page.sum.grandTotal}">Grand Total</span></td>
            <td class="text-right"><span th:text="${page.sum.cny + page.sum.usd * exchangeRate - page.sum.grandTotal}">Gross Margin</span></td>
            <td class="text-right"><span th:text="${page.sum.cny + page.sum.usd * exchangeRate - page.sum.distyPrice - page.sum.distyUsd * exchangeRate}">Sales Profit</span></td>
            <td class="text-right"><span th:text="${page.sum.distyPrice + page.sum.distyUsd * exchangeRate - page.sum.grandTotal}">Disty Profit</span></td>
        </tr>
        </tbody>
    </table>
    <div th:include="layout :: pagination_bar"></div>
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
