<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">
    <div>
        <h3 th:text="${task.name}">Task Name</h3>

        <p th:text="${task.description}">Task Description</p>
    </div>

    <br/>

    <div th:if="!${task.assignee}">
        <form action="/task" method="POST">
            <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>
            <input type="hidden" name="action" value="claim"/>
            <input type="submit" name="Claim Task" value="Claim Task" class="btn btn-lg btn-primary btn-block"
                   th:value="#{task.claim}"/>
        </form>
    </div>

    <div th:if="${task.assignee}">
        <form action="/task" method="POST" class="form-inline">
            <div class="form-group">
                <label class="sr-only" th:text="#{transportation.mode}">Mode of Transportation</label>
                <select name="transMode" class="form-control">
                    <option th:each="mode : ${transModes}"
                            th:value="${mode.type}"
                            th:text="#{${mode.i18nKey}}">Mode of Transportation
                    </option>
                </select>
            </div>
            <label class="checkbox">
                <input type="checkbox" name="sameRoute"/>
                <span th:text="#{transportation.same.route}">Same Route</span>
            </label>
            <input type="hidden" name="taskId" value="taskId" th:value="${task.id}"/>
            <input type="hidden" name="action" value="addTransportation"/>
            <input type="submit" name="Add Transportation" value="Add Transportation" class="btn btn-primary"
                   th:value="#{transportation.add.route}"/>
        </form>
    </div>
</div>
<!-- /.container -->

<div class="container">
    <div th:include="layout :: planning-tab"></div>

</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/js/bootstrap-3.0.0.js"></script>
</body>

</html>
