<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/css/bootstrap-3.0.0.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/js/html5shiv.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div th:include="layout :: left-side"/>

        <div class="col-xs-12 col-sm-9">
            <p th:text="#{warning}">Task Title</p>

            <table class="table table-striped table-hover table-condensed table-16"
                   sth:unless="${#lists.isEmpty(tasks)}">
                <thead>
                <tr>
                    <th th:text="#{task.name}">Task Name</th>
                    <th th:text="#{order.id}">Order ID</th>
                    <th th:text="#{task.description}">Task Description</th>
                    <th th:text="#{task.assignee}">Task Assignee</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.name}">Task Name</td>
                    <td th:text="${task.orderId}">Order ID</td>
                    <td th:text="${task.description}">Task Description</td>
                    <td th:text="${task.assignee}">Task Assignee</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>
</html>