<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
    <link rel="icon" href="/resources/favicon.ico"/>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div th:include="task_template :: left-side"/>

        <div class="col-xs-12 col-sm-9">
            <h3 th:text="#{${taskBar.title}}" class="text-warning">Task Title</h3>

            <table class="table table-striped table-hover table-condensed table-16"
                   sth:unless="${#lists.isEmpty(tasks)}">
                <thead>
                <tr>
                    <th th:text="#{task.id}">Task ID</th>
                    <th th:text="#{task.name}">Task Name</th>
                    <th th:text="#{order.no}">Order No</th>
                    <th th:text="#{task.description}">Task Description</th>
                    <th th:text="#{task.assignee}">Task Assignee</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td>
                        <a th:href="'/task/' + ${task.id}" th:text="${task.id}">Task ID</a>
                    </td>                
                    <td th:text="${task.name}">Task Name</td>
                    <td>
                        <a target="_blank" th:href="'/order/' + ${task.orderId}" th:text="${task.orderNo}">Order No</a>
                    </td>
                    <td th:text="${task.description}">Task Description</td>
                    <td th:text="${task.assignee}">Task Assignee</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>
</html>
