<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
    <style>
        div#f.container {
            max-width: 800px;
        }
    </style>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="f" class="container">
    <h3><span th:text="#{customer}"></span></h3>
    
    <hr />

    <form action="/customer" method="POST" th:object="${customer}">
        <input type="hidden" th:field="*{id}"/>    
    
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" th:classappend="${#fields.hasErrors('code')} ? 'has-error'">
                    <label th:text="#{customer.code} + '*'" class="control-label">Code</label>
                    <input type="text" th:field="*{code}" class="form-control input-sm"/>
                    <span th:errors="*{code}">error</span>
                </div>
            </div>
            
            <div class="col-xs-6">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label th:text="#{customer.name} + '*'" class="control-label">Name</label>
                    <input type="text" th:field="*{name}" class="form-control input-sm"/> 
                    <span th:errors="*{name}">error</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
                    <label th:text="#{address}" class="control-label">Address</label>
                    <input type="text" th:field="*{address}" class="form-control input-sm"/>
                    <span th:errors="*{address}">error</span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('postcode')} ? 'has-error'">
                    <label th:text="#{postcode}" class="control-label">Postcode</label>
                    <input type="text" th:field="*{postcode}" class="form-control input-sm"/>
                    <span th:errors="*{postcode}">error</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('contact')} ? 'has-error'">
                    <label th:text="#{contact}" class="control-label">Contact</label>
                    <input type="text" th:field="*{contact}" class="form-control input-sm"/>
                    <span th:errors="*{contact}">error</span>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-error'">
                    <label th:text="#{phone}" class="control-label">Phone</label>
                    <input type="text" th:field="*{phone}" class="form-control input-sm"/>
                    <span th:errors="*{phone}">error</span>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('cell')} ? 'has-error'">
                    <label th:text="#{cell}" class="control-label">Cell</label>
                    <input type="text" th:field="*{cell}" class="form-control input-sm"/>
                    <span th:errors="*{cell}">error</span>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-3 pull-right">
                <input type="submit" value="Add Customer" class="btn btn-success btn-block btn-sm" th:value="#{customer.add}"/>
            </div>
        </div>        
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
