<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">
    <h3><span th:text="#{customer}"></span></h3>
    
    <hr />

    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(page.content)}">
        <thead>
        <tr>
            <th th:text="#{customer.id}">ID</th>
            <th th:text="#{customer.code}">Code</th>
            <th th:text="#{customer.name}">Name</th>
            <th th:text="#{address}">Address</th>
            <th th:text="#{contact}">Contact</th>
            <th th:text="#{phone}">Phone</th>
            <th th:text="#{cell}">Cell</th>
            <th><span th:text="#{query.name}" /></th>
            <th><a href="/customer/form"><i class="glyphicon glyphicon-plus text-success" /></a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${page.content}">
            <td th:text="${customer.id}">ID</td>
            <td th:text="${customer.code}">Code</td>
            <td th:text="${customer.name}">Name</td>
            <td th:text="${customer.address} + ' ' + ${customer.postcode}">Name</td>
            <td th:text="${customer.contact}">Contact</td>
            <td th:text="${customer.phone}">Phone</td>
            <td th:text="${customer.cell}">Cell</td>
            <td><span th:text="${#strings.length(customer.queryName) > 64} ? ${#strings.substring(customer.queryName, 0, 64)} : ${customer.queryName}" /></td>
            <td><a th:href="'/customer/' + ${customer.id}"><i class="glyphicon glyphicon-edit text-primary"/></a></td>
        </tr>
        </tbody>
    </table>
    
    <div th:include="layout :: pagination_bar"></div>
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
