<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container">
    <div th:if="${alert}" class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span th:text="${alert}">Alert</span>
    </div>
</div>

<div id="f" class="container">
    <h3><span th:text="#{goods}"></span></h3>
    
    <hr />
    
    <form action="/goods" method="POST" th:object="${goods}">
        <div class="form-group" th:if="*{id}">
             <label for="id" th:text="#{goods.id}">Id</label>
             <input type="text" th:field="*{id}" class="form-control" readonly="readonly"/>
        </div>
    
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name" th:text="#{goods.name}">Name</label>
            
            <input type="text" th:field="*{name}" class="form-control"/>

            <div>
                <span th:errors="*{name}">error</span>
            </div>
        </div>

        <input type="submit" value="Add Cargo" class="btn btn-success btn-block" th:attr="value=#{goods.add}"/>
    </form>
</div><!-- form -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
