<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div>
    <span th:text="${msg}"/>
</div>

<div class="container">
    <form action="/poc/message" method='POST' class="form">
        <h2 class="form-heading">Message Test</h2>

        <div class="form-group">
            <label>Message Key</label>
            <input type="text" name="msgKey" class="form-control"/>
        </div>

        <input type="submit" value='Get' class="btn btn-lg btn-default btn-block"/>
    </form>
</div>
<!-- /.container -->

<br/>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
