<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="f" class="container">
    <h3><span th:text="#{sp}"></span></h3>
    
    <hr />
    
    <form action="/sp" method="POST" th:object="${sp}">
        <input type="hidden" th:field="*{id}"/>

        <div class="row">
            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('code')} ? 'has-error'">
                    <label th:text="#{sp.code} + '*'" class="control-label">Name</label>
                    <input type="text" th:field="*{code}" class="form-control input-sm"/>
                    <span th:errors="*{code}">error</span>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label th:text="#{sp.name} + '*'" class="control-label">Name</label>
                    <input type="text" th:field="*{name}" class="form-control input-sm"/>
                    <span th:errors="*{name}">error</span>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <label th:text="#{sp.type}" class="control-label">SP Type</label>
                    <select th:field="*{typeId}" class="form-control input-sm">
                        <option th:each="spType : ${spTypes}"
                                th:value="${spType.key}"
                                th:text="${spType.value}">SP Type
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
                    <label th:text="#{address}" class="control-label">Address</label>
                    <input type="text" th:field="*{address}" class="form-control input-sm"/>
                    <span th:errors="*{address}">error</span>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('postcode')} ? 'has-error'">
                    <label th:text="#{postcode}" class="control-label">Postcode</label>
                    <input type="text" th:field="*{postcode}" class="form-control input-sm"/>
                    <span th:errors="*{postcode}">error</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('contact')} ? 'has-error'">
                    <label th:text="#{contact}" class="control-label">Contact</label>
                    <input type="text" th:field="*{contact}" class="form-control input-sm"/>
                    <span th:errors="*{contact}">error</span>
                </div>
            </div>
            
            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-error'">
                    <label th:text="#{phone}" class="control-label">Phone</label>
                    <input type="text" th:field="*{phone}" class="form-control input-sm"/>
                    <span th:errors="*{phone}">error</span>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group" th:classappend="${#fields.hasErrors('cell')} ? 'has-error'">
                    <label th:text="#{cell}" class="control-label">Cell</label>
                    <input type="text" th:field="*{cell}" class="form-control input-sm"/>
                    <span th:errors="*{cell}">error</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-xs-3" th:each="serviceSubtype : ${serviceSubtypes}">
                    <label class="checkbox-inline">
                        <input type="checkbox" th:field="*{subtypeIds}" th:value="${serviceSubtype.id}"/>
                        <span th:text="${serviceSubtype.name}">Servie Subtype Name</span>
                    </label>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-3 pull-right">
                <input type="submit" value="Add SP" class="btn btn-success btn-block btn-sm" th:value="#{save}"/>
            </div>
        </div>
    </form>    
</div><!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
