<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="t" class="container">
    <h3><span th:text="#{sp}"></span></h3>
    
    <hr />

    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(page.content)}">
        <thead>
        <tr>
            <th th:text="#{sp.id}">ID</th>
            <th th:text="#{sp.code}">Code</th>
            <th th:text="#{sp.name}">Name</th>
            <th th:text="#{sp.type}">Type</th>
            <th th:text="#{address}">Address</th>
            <th th:text="#{contact}">Contact</th>
            <th th:text="#{phone}">Phone</th>
            <th th:text="#{cell}">Cell</th>
            <th><a th:href="'/sp/form'"><i class="glyphicon glyphicon-plus text-success"/></a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sp : ${page.content}">
            <td th:text="${sp.id}">ID</td>
            <td th:text="${sp.code}">Code</td>
            <td th:text="${sp.name}">Name</td>
            <td th:text="${sp.type.name}">Type</td>
            <td th:text="${sp.address} + ' ' + ${sp.postcode}">Name</td>
            <td th:text="${sp.contact}">Contact</td>
            <td th:text="${sp.phone}">Phone</td>
            <td th:text="${sp.cell}">Cell</td>
            <td><a th:href="'/sp/' + ${sp.id}"><i class="glyphicon glyphicon-edit text-primary"/></a></td>
        </tr>
        </tbody>
    </table>
    
    <div th:include="layout :: pagination_bar"></div>
</div><!-- container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
