<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div class="container">
    <h2 th:text="#{system.error}">System Error</h2>
    <span th:text="${session.message}" />
</div>
<!-- /.container -->

<br/>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
