<!DOCTYPE html>
<html>
<head>
    <div th:include="layout :: head"></div>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="order_template :: tab"/>
<!-- {!end task bar} -->

<!--
<div class="container">
    <a th:href="'/route?o=' + ${order.id} + '&amp;action=edit'" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
    </a>
</div>
--><!-- container -->

<div class="container" th:unless="${#lists.isEmpty(routes)}">
    <div class="panel panel-default" th:each="route : ${routes}">
        <div class="panel-heading">
            <span th:text="#{route} + ${route.id}">Route ID</span>
            <span th:text="#{container.quantity} + '(' + ${route.containerQty} + ')'">Container Qty</span>
        </div>

        <div class="panel-body">
            <table class="table table-striped table-hover table-condensed table-16">
                <caption th:text="#{rail}"></caption>
                <thead>
                <tr>
                    <th th:text="#{rail.origination}">Railway Origination</th>
                    <th th:text="#{rail.destination}">Railway Destination</th>
                    <th th:text="#{container.no}">Container No.</th>
                    <th th:text="#{fleet}">Fleet</th>
                    <th th:text="#{plate.no}">Plate No.</th>
                    <th th:text="#{trucker}">Trucker</th>
                    <th th:text="#{loading.toc}">Loading TOC</th>
                    <th th:text="#{rail.plan.no}">Trans Plan No.</th>
                    <th th:text="#{rail.ets}">Rail ETS</th>
                    <th th:text="#{station.toa}">Station TOA</th>
                    <th th:text="#{rail.ats}">Rail ATS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="container : ${route.railContainers}">
                    <td th:text="${container.leg.srcLoc.name}">Railway Origination</td>
                    <td th:text="${container.leg.dstLoc.name}">Railway Destination</td>
                    <td th:text="${container.sc.container} ? ${container.sc.container.bicCode} : ${container.sc.bicCode}">
                        Container No.
                    </td>
                    <td th:text="${container.fleet} ? ${container.fleet.name} : ''">Trucker</td>
                    <td th:text="${container.plateNo}">Container No.</td>
                    <td th:text="${container.trucker}">Trucker</td>
                    <td th:text="${container.loadingToc} ? ${#calendars.format(container.loadingToc,'yyyy/MM/dd')} : ''">Loading TOC</td>
                    <td th:text="${container.transPlanNo}">Trans Plan No.</td>
                    <td th:text="${container.ets} ? ${#calendars.format(container.ets,'yyyy/MM/dd')} : ''">Rail TOA</td>
                    <td th:text="${container.stationToa} ? ${#calendars.format(container.stationToa,'yyyy/MM/dd')} : ''">Station TOA</td>
                    <td th:text="${container.ats} ? ${#calendars.format(container.ats,'yyyy/MM/dd')} : ''">Rail ATS</td>
                </tr>
                </tbody>
            </table>
            
            <br/>
            
            <table class="table table-striped table-hover table-condensed table-16">
                <caption th:text="#{barge}"></caption>
                <thead>
                <tr>
                    <th th:text="#{shipping.origination}">Barge Origination</th>
                    <th th:text="#{shipping.destination}">Barge Destination</th>
                    <th th:text="#{sp.name}">SP Name</th>
                    <th th:text="#{container.no}">Container No.</th>
                    <th th:text="#{bol.no}">BOL No.</th>
                    <th th:text="#{slot}">Barge SLOT</th>
                    <th th:text="#{shipping.ets}">Barge ETS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="container : ${route.bargeContainers}">
                    <td th:text="${container.leg.srcLoc.name}">Barge Origination</td>
                    <td th:text="${container.leg.dstLoc.name}">Barge Destination</td>
                    <td th:text="${container.leg.sp.name}">SP Name</td>
                    <td th:text="${container.sc.container} ? ${container.sc.container.bicCode} : ${container.sc.bicCode}">
                        Container No.
                    </td>
                    <td th:text="${container.bolNo}">BOL No.</td>
                    <td th:text="${container.slot}">Slot</td>
                    <td th:text="${container.ets} ? ${#calendars.format(container.ets,'yyyy/MM/dd')} : ''">Barge ETS</td>
                </tr>
                </tbody>
            </table>            
            
            <br/>
  
            <table class="table table-striped table-hover table-condensed table-16">
                <caption th:text="#{vessel}"></caption>
                <thead>
                <tr>
                    <th th:text="#{shipping.origination}">Vessel Origination</th>
                    <th th:text="#{shipping.destination}">Vessel Destination</th>
                    <th th:text="#{sp.name}">SP Name</th>
                    <th th:text="#{container.no}">Container No.</th>
                    <th th:text="#{bol.no}">BOL No.</th>
                    <th th:text="#{slot}">Vessel SLOT</th>
                    <th th:text="#{shipping.ets}">Vessel ETS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="container : ${route.vesselContainers}">
                    <td th:text="${container.leg.srcLoc.name}">Vessel Origination</td>
                    <td th:text="${container.leg.dstLoc.name}">Vessel Destination</td>
                    <td th:text="${container.leg.sp.name}">SP Name</td>
                    <td th:text="${container.sc.container} ? ${container.sc.container.bicCode} : ${container.sc.bicCode}">
                        Container No.
                    </td>
                    <td th:text="${container.bolNo}">BOL No.</td>
                    <td th:text="${container.slot}">Slot</td>
                    <td th:text="${container.ets} ? ${#calendars.format(container.ets,'yyyy/MM/dd')} : ''">Vessel ETS</td>
                </tr>
                </tbody>            
            </table>
        </div><!-- panel-body -->
    </div><!-- panel -->
</div><!-- container -->


<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
