<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Liquid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
</head>

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="f" class="container">
    <form method="POST" th:object="${container}" th:action="'/task/' + ${task.id} + '/rail_yard/' + *{railContainerId}">

        <input type="hidden" th:field="*{railContainerId}"/>

        <div class="form-group">
            <label th:text="#{container.no}">BIC Code</label>
            <input type="text" th:field="*{bicCode}" class="form-control" readonly="readonly"/>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('railYardToa')} ? 'has-error'">
            <label th:text="#{station.toa}">Station TOA</label>
            <input type="text" th:field="*{railYardToa}" class="form-control"/>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:field="*{batch}"/> <span th:text="#{batch}">Batch</span>
                </label>
            </div>
        </div>
        
        <input type="submit" name="save" value="Save Time" class="btn btn-success btn-block btn-sm" th:value="#{save}"/>
    </form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include=" layout :: footer"/>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:include="layout :: js"></div>
<!-- {!end layout} -->
</body>

</html>
