<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-6">
                    <h3><span th:text="#{settlement}"></span></h3>
                </div>
                <div class="col-xs-6">
                    <br />
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <a class="btn btn-success btn-block" th:href="'/order/' + ${orderId} + '/settlement'"><i class="glyphicon glyphicon-plus"/></a>
                        </div>
                    </div>
                </div>
            </div>
    
            <hr />
            
            <table class="col-xs-6 table table-striped table-bordered table-hover table-condensed table-16">
                <thead>
                    <tr>
                        <th></th> 
                        <th><span th:text="#{order.no}"/></th> 
                        <th th:text="#{settled.cny}">Settled CNY</th>
                        <th th:text="#{settled.usd}">Settled USD</th>
                        <th th:text="#{settled.at}">Settled At</th>            
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="settlement, row : ${settlementStatement.content}">
                        <td><span th:text="${row.count}" /></td>
                        <td><span th:text="${settlement.orderNo}" /></td>
                        <td class="text-right" th:text="${settlement.cny}">></td>
                        <td class="text-right" th:text="${settlement.usd}">></td>
                        <td th:text="${settlement.settledAt}"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><strong><span th:text="#{total}">Sum</span></strong></td>
                        <td class="text-right"><span th:text="${settlementStatement.cnyTotal}" /></td>
                        <td class="text-right"><span th:text="${settlementStatement.usdTotal}" /></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <tr>
                        <td></td>
                        <td><strong><span th:text="#{settted.unpaid}">Sellted and Unpaid</span></strong></td>
                        <td class="text-right"><span th:text="${statement.cnyTotal} - ${receiptStatement.cnyTotal}" /></td>
                        <td class="text-right"><span th:text="${statement.usdTotal} - ${receiptStatement.usdTotal}" /></td>
                        <td></td>
                        <td></td>
                    </tr>                    
                </tbody>                                    
            </table>          
        </div>
            
        <div class="col-xs-6">           
            <div class="row">
                <div class="col-xs-6">
                    <h3><span th:text="#{invoice}"></span></h3>
                </div>
                <div class="col-xs-6">
                    <br />
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <a class="btn btn-sm btn-success btn-block" th:href="'/order/' + ${orderId} + '/invoice'"><i class="glyphicon glyphicon-plus"/></a>
                        </div>
                    </div>
                </div>
            </div>
    
            <hr />            
                 
            <table class="col-xs-6 table table-striped table-bordered table-hover table-condensed table-16">
                <thead>
                    <tr>
                        <th></th>
                        <th th:text="#{invoice.no}">Invoice No.</th>
                        <th th:text="#{cny.of.invoice}">CNY of Invoice</th>
                        <th th:text="#{usd.of.invoice}">USD of Invoice</th>
                        <th th:text="#{payer}">Payer</th>
                        <th th:text="#{date.of.invoice}">Date of Invoice</th>
                        <th th:text="#{expected.date.of.receivable}">Excepted Date of Receivable</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="invoice, row : ${statement.content}">
                        <td><span th:text="${row.count}" /></td>
                        <td th:text="${invoice.invoiceNo}"></td>
                        <td class="text-right" th:text="${invoice.cny}"></td>
                        <td class="text-right" th:text="${invoice.usd}"></td>
                        <td th:text="${invoice.buyerName}"></td>
                        <td th:text="${invoice.issuedAt}"></td>
                        <td th:text="${invoice.expectedPaymentAt}"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><strong><span th:text="#{total}">Sum</span></strong></td>
                        <td class="text-right"><span th:text="${statement.cnyTotal}" /></td>
                        <td class="text-right"><span th:text="${statement.usdTotal}" /></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <tr>
                        <td></td>
                        <td><strong><span th:text="#{uninvoiced}">Uninvoiced</span></strong></td>
                        <td class="text-right"><span th:text="${settlementStatement.cnyTotal} - ${statement.cnyTotal}" /></td>
                        <td class="text-right"><span th:text="${settlementStatement.usdTotal} - ${statement.usdTotal}" /></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>                                        
                </tbody>
            </table>         
        </div>
       
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-6">
                    <h3><span th:text="#{receipt}"></span></h3>
                </div>
                <div class="col-xs-6">
                    <br />
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <a class="btn btn-sm btn-success btn-block" th:href="'/order/' + ${orderId} + '/receipt'"><i class="glyphicon glyphicon-plus"/></a>
                        </div>
                    </div>                    
                </div>
            </div>
    
            <hr />             
            
            <table class="col-xs-6 table table-striped table-bordered table-hover table-condensed table-16">
                <thead>
                    <tr>
                        <th></th> 
                        <th th:text="#{actual.cny}">Actual CNY</th>
                        <th th:text="#{actual.usd}">Actual USD</th>
                        <th th:text="#{date.of.receivable}">Date of Receivable</th>            
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="receipt, row : ${receiptStatement.content}">
                        <td><span th:text="${row.count}" /></td>
                        <td class="text-right" th:text="${receipt.cny}">></td>
                        <td class="text-right" th:text="${receipt.usd}">></td>
                        <td th:text="${receipt.issuedAt}"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong><span th:text="#{total}">Sum</span></strong></td>
                        <td class="text-right"><span th:text="${receiptStatement.cnyTotal}" /></td>
                        <td class="text-right"><span th:text="${receiptStatement.usdTotal}" /></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <tr>
                        <td><strong><span th:text="#{unpaid}">Unpaid</span></strong></td>
                        <td class="text-right"><span th:text="${statement.cnyTotal} - ${receiptStatement.cnyTotal}" /></td>
                        <td class="text-right"><span th:text="${statement.usdTotal} - ${receiptStatement.usdTotal}" /></td>
                        <td></td>
                        <td></td>
                    </tr>                     
                </tbody>                                    
            </table>          
        </div>
    </div><!-- row -->
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

</body>

</html>
