<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div id="f" class="container">
    <div th:include="layout :: alert"/>
    
    <h3><span th:text="#{railway.plan.type}"></span></h3>
    
    <hr />

    <form action="/railway_plan_type" method="POST" th:object="${railwayPlanType}">
        <input type="hidden" th:field="*{id}" class="form-control" readonly="readonly"/>
             
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label for="name" th:text="#{name}">Name</label>
            
            <input type="text" th:field="*{name}" class="form-control input-sm"/>

            <div>
                <span th:errors="*{name}">error</span>
            </div>
        </div>

        <input type="submit" value="Add Railway Plan Type" class="btn btn-success btn-block btn-sm" th:value="#{add}"/>
    </form>
</div><!-- form -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
